.wizard-container{
    height: auto;
    display: block;
}

.wizard-header{
    height: auto;
    display: block;
}

.wizard-body-container{
    height: auto;
    display: block;
}

.wizard-body {
    height: auto;
    display: block;
}

.application {
    height: auto;
}

.section {
    position: absolute;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.group {

}

.component {

}

input {
    margin-left: 2em;
}

.question {

}

.value {

}

.list {

}

.extension {

}

.question {
    position: absolute;
}

.condition {
    font-size: 1em;
}

.question-content {
    background-color: white;
    padding: 20px;
}

.nmu-color-very-dark {
    color: #061c2c;
}

.nmu-color-dark {
    color: #0A283F;
}

.opague-background {
    background-color: #0009 !important
}

.nmu-theme-background {
    color: white;
    background-color: #0A283F !important;
}

.nmu-theme-darkbackground {
    background-color: #061c2c;
}

.popup-header{
    padding: 20px;
    position: relative;
    top: -20px;
    background-color: #061c2c;
}

.standard-padding-20 {
    padding-top: 20px;
    margin: -20px;
}

.conditions {
    font-size: 15pt;
}

.condition {
    margin: 10px;
}