.wizard-container{
    height: auto;
    display: block;
}

.wizard-header{
    height: auto;
    display: block;
}

.wizard-body-container{
    height: auto;
    display: block;
}

.wizard-body {
    height: auto;
    display: block;
}

.application {
    height: auto;
}

.section {
    background-color: #ffffff !important;
    color: #061c2c !important;
    width: 100%;
}

.section > h2 {
    border-bottom: 1px dashed #FFFFFF;
}

.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: normal;
    color: #FFFFFF !important;
    font-style: normal !important;
    text-decoration: none !important;
}

.collapsible:hover {
    font-style: italic !important;
    text-decoration: underline !important;
}

.collapsible-child {
    overflow: hidden;
    display: none;
}

.section > .group > input {
    max-width: 50%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.group > h3 {
    text-decoration: underline;
    padding-left: 40px !important;
}

.group {

}

.component {

}

input {
    margin-left: 2em;
}

.question {

}

.value {

}

.list {
    color: #061c2c !important;
}

.list input {
    padding-top: 2px;
    padding-bottom: 2px;
}

.extension {
    border-left: 2px solid #061c20 !important;
    padding-left: 10px;
    margin: 5px 0px;
}

.question {
}

.condition {
    font-size: 1em;
}

.question-content {
    background-color: white;
    padding: 20px;
}

.nmu-color-very-dark {
    color: #061c2c;
}

.nmu-color-dark {
    color: #0A283F;
}

.opague-background {
    background-color: #0009 !important
}

.nmu-theme-background {
    color: white;
    background-color: #0A283F !important;
}

.nmu-theme-darkbackground {
    background-color: #061c2c;
}

.popup-header{
    padding: 20px;
    position: relative;
    top: -20px;
    background-color: #061c2c;
}

.standard-padding-20 {
    padding-top: 20px;
    margin: -20px;
}

.conditions {
    font-size: 15pt;
}

.condition {
    margin: 10px;
}

h3 {
    line-height: 2em;
    padding-left: 20px;
    margin-bottom: 0 !important;
}

.helper-hint{display:inline;position:relative}
.helper-hint:hover{text-decoration:none}

.helper-hint:hover:after{
    background:#111;
    background:rgba(0,0,0,.8);
    border-radius:5px;
    bottom:18px;
    color:#fff;
    content:attr(title);
    display:block;
    word-wrap: break-spaces;
    left:50%;
    padding:5px 15px;
    position:absolute;
    white-space:nowrap;
    z-index:98
}
/*.helper-hint:hover:before{*/
    /*border:solid;*/
    /*border-color:#111 transparent;*/
    /*border-width:6px 6px 0 6px;*/
    /*bottom:12px;*/
    /*content:"";*/
    /*display:block;*/
    /*left:75%;*/
    /*position:absolute;*/
    /*z-index:99*/
/*}*/

.section-checkbox {
    float: right;
    cursor: pointer;
}


.section-title {
    background-color: #0A283F !important;
    padding: 15px !important;
    margin: 0 !important;
}

.section-title:hover {
    background-color: #f9b42a !important;
}

.group-title {
    background-color: #0A283F !important;
    padding: 10px !important;
    margin: 0 !important;
    line-height: 1em !important;
}

.group-title:hover {
    background-color: #f9b42a !important;
}

ic {
    margin-bottom: 8px;
}

textarea {
    width: 80% !important;
    height: 6em !important;
    margin: 0 auto;
}

th td {
    color: #0A283F !important;
    text-align: center;
}