@import views.html.Components.editable
@import java.util.List
@import views.html.Components.inputTextArea

@(id: String, label: String, value: String, options: java.util.List[String], hint: String, canEdit: Boolean, feedback: Boolean)

<label>@label</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle helper-hint"></ic><br>
<select id="@id" name="@id" @editable.apply(canEdit)>
    @for(option <- options) {
        @if(value.equals(option)) {
            <option id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")" selected="selected">@option</option>
        } else {
            <option id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")">@option</option>
        }
    }
</select>
@if(feedback){
    @inputTextArea.apply("feedback_" + id, "Feedback", "", "", "", true, false)
}
<br>