@import views.html.Components
@import java.util

@(id: String, label: String, value: String, hint: String, url: String, canEdit: Boolean, feedback: Boolean, review: Boolean, reviewData: util.List[String])

@getChecked = @{
    var v = ""
    if(value != null && !value.isEmpty && !value.equals("null")) {
        if(value.toLowerCase=="true"){
            v = "checked='checked' value='1'"
        } else {
            v = "value='0'"
        }
    } else {
        v = "value='0'"
    }
    v
}

@getLink(link: String) = @{
    if(link == null || link.isEmpty){
        ""
    } else {
        Components.link.apply(url)
    }
}

<label for="@id" style="cursor: pointer !important;">@label @getLink(url)</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle"></ic>
<input class="required" style="margin-left: 20px" id="@id" name="@id" type="checkbox" @getChecked @Components.editable.apply(canEdit)>
    @if(feedback) {
        @Components.feedback_container.apply(id, feedback, "")
    }
    @if(review) {
        @Components.reviewable.apply(id, review, reviewData)
    }
<br>