@import views.html.Components
@import java.util

@(id: String, label: String, value: String, options: java.util.List[String], hint: String, canEdit: Boolean, feedback: Boolean, review: Boolean, reviewData: util.List[String])

<label>@label</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle helper-hint"></ic><br>
<input  class="required" list="list_@id" style="margin-left: 40px; width: 50% !important;" id="@id" value="@{if(value != null) {value} else {}}" name="@id" placeholder="Enter @label" type="text" @Components.editable.apply(canEdit)>
<datalist id="list_@id" name="@id" @editable.apply(canEdit) style="display: none">
    @for(option <- options) {
        @if(value != null && value.equals(option)) {
            <option value="@option" id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")" selected="selected"></option>
        } else {
            <option value="@option" id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")"></option>
        }
    }
</datalist>

    @Components.feedback_container.apply(id, feedback)
    @Components.reviewable.apply(review, reviewData)
    <br/>