@import views.html.Components
@import java.util

@(id: String, label: String, value: String, hint: String, canEdit: Boolean, feedback: Boolean, review: Boolean, reviewData: util.List[String])

@getChecked = @{
    var v = ""
    if(value != null && !value.isEmpty && !value.equals("null")) {
        if(value.toLowerCase=="true"){
            v = "checked='checked' value='1'"
        } else {
            v = "value='0'"
        }
    } else {
        v = "value='0'"
    }
    v
}

<label for="@id" style="cursor: pointer !important;">@label</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle"></ic>
<input class="required" style="margin-left: 20px" id="@id" name="@id" type="checkbox" @getChecked @Components.editable.apply(canEdit)>

    @Components.feedback_container.apply(id, feedback)
    @Components.reviewable.apply(review, reviewData)
<br>