@import views.html.Components
@import java.util

@(id: String, label: String, value: String, hint: String, maxwords: String, canEdit: Boolean, feedback: Boolean, review: Boolean, reviewData: util.List[String])

<label>@label</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle helper-hint"></ic><br>
<textarea style="margin-left: 40px; width: 80%; height: 3em; margin-bottom: 10px;" id="@id" name="@id"  type="text" maxlength="@maxwords" @Components.editable.apply(canEdit)>@{if(value != null) {value} else {}}</textarea>

    @Components.feedback_container.apply(id, feedback)
    @Components.reviewable.apply(review, reviewData)
<br>