@import views.html.Components
@import java.util

@(id: String, label: String, value: String, hint: String, url: String, canEdit: Boolean, feedback: Boolean, review: Boolean, reviewData: util.List[String])

<label>@label@Components.link.apply(url)</label><ic title="@hint"  style="margin-left: 20px" class="fa fa-question-circle helper-hint"></ic><br>

<input  class="required" style="margin-left: 40px; padding-left: 10px" id="@id" name="@id" value="@{if(value != null) {value.split(" ")(0)} else {}}" placeholder="Select @label" type="date" @Components.editable.apply(canEdit)>

    @Components.feedback_container.apply(id, feedback, "")
    @Components.reviewable.apply(id, review, reviewData)
<br>