@import views.html.Components.editable

@(id: String, label: String, value: String, options: java.util.List[String], hint: String, canEdit: Boolean, feedback: Boolean)

<label>@label</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle helper-hint"></ic><br>
<input list="list_@id" style="margin-left: 40px;" id="@id" value="@value"name="@id"  type="text" @editable.apply(canEdit)>
<datalist id="list_@id" name="@id" @editable.apply(canEdit) style="display: none">
    @for(option <- options) {
        @if(value.equals(option)) {
            <option value="@option" id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")" selected="selected"></option>
        } else {
            <option value="@option" id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")"></option>
        }
    }
</datalist>
@if(feedback){
    @inputTextArea.apply("feedback_" + id, "Feedback", "", "", "", true, false)
}
    <br/>