@import java.util
@import views.html.Components.inputTextArea
@import views.html.Components.feedback_container
@import views.html.Components.reviewable
@import views.html.Components.editable

@(id: String, label: String, value: String, options: java.util.List[String], hint: String, canEdit: Boolean, feedback: Boolean, review: Boolean, reviewData: util.List[String])

<label>@label</label><ic title="@hint" style="margin-left: 20px" class="fa fa-question-circle helper-hint" ></ic><br>
<select id="@id" name="@id" @editable.apply(canEdit) style="width: auto !important;">
    @for(option <- options) {
        @if(value.equals(option)) {
            <option id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")" selected="selected">@option</option>
        } else {
            <option id="@option.toString.replace(" ", "")" name="@option.toString.replace(" ", "")">@option</option>
        }
    }
</select>

    @feedback_container.apply(id, feedback)
    @reviewable.apply(review, reviewData)
<br>