@import java.util
@import views.html.Components

@(id: String, review: Boolean, reviewData: util.List[String])

@container = @{
    var feedback = ""
    for(r <- reviewData) {
        feedback = feedback.concat(r)
    }
    Components.feedback_container.apply(id, true, feedback)
}

@if(reviewData != null) {
    @if(reviewData.size > 0) {
        <div class="review-container">
            <div class="review-title">
                <h5>Review Feedback</h5>
            </div>
            <div class="review-content">
                @container
            </div>
        </div>

    }
}