.drop-bottom-5 {
    padding-bottom: 5px;
}

.larger-width {
    width: auto;
}

.portal-icon-extend-margin {
    margin-right: 20px;
    margin-left: 14px;
}

.sub-arrow-manual {
    position:static;
    margin-top:0;
    margin-right:0;
    margin-left:6px;
    display:inline-block;
    width:0;
    height:0;
    overflow:hidden;
    vertical-align:middle;
    border-top:4px solid;
    border-right:4px dashed transparent;
    border-bottom:4px dashed transparent;
    border-left:4px dashed transparent;
}