@import dao.ApplicationSystem.EntityEthicsApplication
@import views.html.Templates.Masterpage
@import views.html.ApplicationSystem.fragmentApplicationContainer
@import views.html.Components.inputTextArea
@import views.html.Components.inputDatalist
@import views.html.Components.inputDropdown
@import net.ddns.cyberstudios.Element
@import controllers.APIController

@import java.util
@import dao.Meeting.EntityAgendaItem
@import models.ApplicationSystem.ApplicationStatus
@import dao.UserSystem.EntityPerson
@(meetingId: String)(agendaItem: EntityAgendaItem)(reviewed: Boolean)(entityEthicsApplication: EntityEthicsApplication)(root: Element)(editableMap: util.Map[String, Boolean])(feedbackMap: util.Map[String, util.List[String]])

@getLiaisonName = @{
    if(entityEthicsApplication.getLiaisonId != null){
        val person = EntityPerson.find.byId(entityEthicsApplication.getLiaisonId)
        person.getFullName.concat(" [").concat(person.getUserEmail).concat("]")
    }else{
        ""
    }
}

@Masterpage(" :: Application Meeting Review") {
    <div class="BoxMediumBlue" style="padding: 20px;">
        <h2>Review of Ethics Application:</h2> <h4 style="margin-left: 10px; font-style: italic; color: white">@entityEthicsApplication.title()</h4>
        @helper.form(action = controllers.MeetingSystem.routes.MeetingController.saveResolution(meetingId, entityEthicsApplication.applicationPrimaryKey().shortName())) {
            @helper.CSRF.formField
            <input type="hidden" value="@entityEthicsApplication.applicationPrimaryKey().shortName()" id="application_id" name="application_id">
            <input type="hidden" value="@meetingId" id="meeting_id" name="meeting_id">
            <br/>
            <div class="row">
                <div class="feedback">
                    @inputTextArea.apply("resolution", "Committee Feedback", if(reviewed){agendaItem.getResolution}else{""} , "The feedback which is given by the ethics committee for the specific application", "100000", "", !reviewed, false, false, null: util.List[String])
                    <br/>
                    @inputDatalist.apply("status", "Application Status", if(reviewed){ApplicationStatus.parse(agendaItem.getApplicationStatus).description()}else{""}, APIController.getApplicationStatuses, "The application status determined by the committee, if approved, needs editing or is rejected", "", !reviewed, false, false, null: util.List[String])
                    <br/>
                    <div>
                    @inputDropdown.apply("liaison", "Select Application Liaison", if(reviewed){getLiaisonName}else{""}, APIController.getAllLiaisons, "Select a liaison to be assigned to the application", "", !reviewed, false, false, null)
                    </div>
                </div>
            </div>

        <h3>Application Details</h3>
        <div class="" style="border-top: 1px white dashed">
            <div class="row">
                <div class="col-sm-12">
                    @fragmentApplicationContainer.apply(root)(editableMap)(false)(true)(feedbackMap)
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="@controllers.MeetingSystem.routes.MeetingController.allApplications(meetingId)">
                        <button style="margin: 0 auto; float: left" type="button" class="nmu-button action-button action-alternative">
                            Cancel</button>
                    </a>
                </div>
                <div cass="col-sm-6">
                    @if(!reviewed) {
                        <button style="margin: 0 auto; float: right" href="" class="nmu-button action-button">Send Feedback</button>
                    }
                </div>
            </div>
        }
    </div>
}

