@import views.html.Templates.Masterpage
@import dao.Meeting.EntityMeeting
@import views.html.Components.table
@import views.html.Components.tableHead
@import views.html.Components.tableBody
@import views.html.Components.tableHeadCell
@import views.html.Components.tableDataCell
@import views.html.Components.tableRow
@import java.util

@(completeMeetings: util.List[EntityMeeting])(incompleteMeetings: util.List[EntityMeeting])

@Masterpage.apply(" :: All Meetings"){
    <div class="BoxMediumBlue" style="padding: 20px;">
        <div class="container-heading">
            <h1>Account Overview</h1>
            <p style="font-style: italic">All Meetings held by the committee.</p>
        </div>
        <div class="">
            @if(incompleteMeetings.size() == 0) {
                <p>No meetings setup</p>
                <br/>
                <div class="pull-right">
                    <a href="@controllers.MeetingSystem.routes.MeetingController.setupMeeting()">
                        <button class="nmu-button action-button"><ic class="fa fa-plus"> Setup new meeting</ic>
                        </button>
                    </a>
                </div>
            } else {
                @for(currentMeeting <- incompleteMeetings){

                }
            }
        </div>
        <div class="">
            @if(completeMeetings.size == 0) {
                <p>No previous meetings</p>
            } else {
                @for(previousMeeting <- completeMeetings){
                    @table.apply{
                        @*Head*@
                    } {
                        @*Body*@
                    } {
                        @*Footer*@
                    }
                }
            }
        </div>
    </div>
}