@import java.util

@import dao.ApplicationSystem.EntityEthicsApplication
@import views.html.Templates.Masterpage
@import models.ApplicationSystem.ApplicationStatus

@import java.sql.Timestamp
@(pageTitle: String)(applicationList: util.List[EntityEthicsApplication])

@getDate(time: Timestamp, neg: String) = @{
    if(time==null){
        neg
    } else {
        time.toString.split(" ")(0)
    }
}

@Masterpage.apply(pageTitle) {
    <h2>All applications</h2>

    @if(applicationList.size() > 0) {
        <div class="row">
            <table class="table">
                <thead>
                    <th>Application Title</th>
                    <th>Status</th>
                    <th>Last Edit Date</th>
                    <th>Date Submitted</th>
                    <th></th>
                </thead>
                <tbody>
                @for(application: EntityEthicsApplication <- applicationList) {
                    <tr class="nmu-button" data-url="">
                        <td>@application.title()</td>
                        <td>@ApplicationStatus.parse(application.getInternalStatus)</td>
                        <td>@getDate(EntityEthicsApplication.GetLastEditDate(application.applicationPrimaryKey()), "Not yet edited")</td>
                        <td>@getDate(application.getDateSubmitted, "Not submitted")</td>
                        <td><a href="@controllers.ApplicationSystem.routes.ApplicationHandler.editApplication(application.applicationPrimaryKey.shortName())">
                            <button class="nmu-button table-button">Modify Application</button>
                        </a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    } else {
        <p>No applications associated with this account</p>
    }

}