@import java.util

@import models.ApplicationSystem.{ApplicationStatus, Question}
@import net.ddns.cyberstudios.Element
@import play.data.DynamicForm
@import play.twirl.api.Html
@import views.html.Templates.Masterpage
@import views.html.ApplicationSystem.fragmentFilterQuestions
@import views.html.Components._

@(pageTitle: String)(applicationType: String)(root: Element)(status: ApplicationStatus)(questionList: util.List[Question])




































































@application_content = @{

    def createComponent(element: Element): String = {
        val elementType = element.getType.toLowerCase
        val q = element.getChildren.getFirst.getValue.toString
        val hint = element.getHint
        val id = element.getId
        val a = ""
        elementType match {
            case "boolean" =>
                /*creates checkbox*/
                if (element.getAttributes().get("radio") == null) {
                    inputCheckbox.apply(id, q, a, hint).toString()
                } else {
                    if (element.getAttributes().get("radio").equals("true")) {
                        var childItems = element.getChildren().head.getChildren().map(f => f.getValue.toString).toList
                        inputDropdown.apply(id, q, a, childItems, hint).toString()
                    } else {
                        inputCheckbox.apply(id, q, a, hint).toString()
                    }
                }

            case "number" =>
                if (element.getAttributes().get("dropdown") == null){
                    inputText.apply(id, q, a, hint).toString()
                } else {
                    if (element.getAttributes().get("dropdown").equals("true")) {
                        var childItems = element.getChildren().head.getChildren().map(f => f.getValue.toString).toList
                        inputDropdown.apply(id, q, a, childItems, hint).toString()
                    } else {
                        inputText.apply(id, q, a, hint).toString()
                    }
                }
            /*creates text field with number specific*/

            case "long_text" =>
                /*creates a multiline text field*/
                inputTextArea.apply(id, q, a, hint, element.getAttributes.get("max-words")).toString()

            case "text" =>
                /*creates text field*/
                if (element.getAttributes().get("dropdown") == null){
                    inputText.apply(id, q, a, hint).toString()
                } else {
                    if (element.getAttributes().get("dropdown").equals("true")) {
                        var childItems = element.getChildren().head.getChildren().map(f => f.getValue.toString).toList
                        inputDropdown.apply(id, q, a, childItems, hint).toString()
                    } else {
                        inputText.apply(id, q, a, hint).toString()
                    }
                }

            case "date" =>
                /*creates text field*/
                inputDate.apply(id, q, a, hint).toString()

            case "document" =>
                /*creates text field*/
                var req = element.getAttributes.get("required")
                if (req == null) {
                    req = "false"
                }
                val desc = element.getAttributes.get("desc")
                inputFile.apply(id, q, a, hint, desc, req).toString()

            case "list" =>
                "<p>List Here</p><ul><li>list item 1</li><li>list item 2</li><li>list item 3</li></ul>"

            case _ =>
                "<p>Unhandled Tag : " + element.getType.toLowerCase() + "</p>"
        }
    }

    def getHeading(tag: String, title: String): String = {
        tag match {
            case "section" => "<h2>" + title + "</h3>"
            case "group" => "<h3>" + title + "</h5>"
            case "list" => "<h4>" + title + "</h5>"
            case _ => ""
        }
    }

    def parseElement(element: Element): String = {
        val innerText = for(elem <- element.getChildren) yield {
            if(!elem.isComponent) {
                /*this creates a container element which consumes some html type text*/
                val innerText = parseElement(elem)
                val isList = elem.getTag.equals("list")
                if(isList) {
                    val pre = elem.getPreTag("table")
                    val heading: String = getHeading(elem.getTag, elem.getAttributes.get("name"))
                    val post = elem.getPostTag("table")
                    heading + pre + "" + innerText + "" + post
                } else {
                    val pre = elem.getPreTag("div")
                    val heading: String = getHeading(elem.getTag, elem.getAttributes.get("name"))
                    val post = elem.getPostTag("div")
                    pre + heading + innerText + post
                }
            } else {
                /*this creates a component of type a specific type*/
                val isListItem = element.getTag.equals("list")
                val value = createComponent(elem)
                if(isListItem) {
                    "<td>" + value + "</td>"
                } else {
                    value
                }
            }
        }
        innerText.mkString("")
    }

    helper.form(action = controllers.ApplicationSystem.routes.ApplicationHandler.createApplication(), 'enctype -> "multipart/form-data") {
        helper.CSRF.formField
        var v = parseElement(root)
        v += "<br><button type=\"submit\" class=\"nmu-button\" style=\"width: auto;\">Save Application</button>"
        Html(v)
    }

}

































@bodyBlock = {
    <br>
    <h2>Create Ethics Application for @applicationType Research</h2>
    <br>
    <div class="wizard-container">
        <div class="wizard-header">

        </div>
        <div class="wizard-body-container">
            <div class="wizard-progress-container">

            </div>
            <div class="wizard-body">
                <div class="row">
                    @*<div class="col-sm-9">*@
                    <div class="col-sm-12">
                        <input type="hidden" value="" id="application_level">
                        @application_content
                    </div>
                    @*<div class="col-sm-3">*@
                        @*<div id="application_overview_container" style="margin: 10px; padding: 10px; border: 1px solid #ffffff">*@
                            @*<h5>Application Overview</h5>*@
                        @*</div>*@
                        @*<div id="documents_overview_container" style="margin: 10px; padding: 10px; border: 1px solid #ffffff">*@
                            @*<h5>Required Documents</h5>*@
                        @*</div>*@
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
}

@Masterpage.apply(pageTitle){
    @bodyBlock
    @fragmentFilterQuestions.apply(questionList)
}
