@import java.util
@import models.ApplicationSystem.{ApplicationStatus, Question}
@import net.ddns.cyberstudios.Element
@import play.data.DynamicForm
@import play.twirl.api.Html
@import views.html.Templates.Masterpage
@import views.html.ApplicationSystem._
@import views.html.Components._
@import dao.ApplicationSystem.EntityEthicsApplicationPK
@import controllers.APIController
@import scala.collection.mutable

@(root: Element)(editableMap: util.Map[String, Boolean])(feedback: Boolean)(review: Boolean)(reviewDataMap: util.Map[String, util.List[String]])

@application_content = @{
    def createComponent(element: Element): String = {
        val elementType = element.getType.toLowerCase
        var q = ""
        val hint = element.getHint
        val id = element.getId
        var a = ""
        if(element.getChildren.size()==3){
            q = element.getChildren.get(1).getValue.toString
        } else {
            q = element.getChildren.getFirst.getValue.toString
        }
        val reviewFeedback = reviewDataMap.get(id)
        val editable = editableMap.get(id)
        elementType match {
            case "boolean" =>
                /*creates checkbox*/
                var autofill = ""
                if(element.getAttributes.get("autofill_id") != null  && !feedback) {
                    autofill = APIController.getDataDirect(element.getAttributes.get("autofill_id")).get(0)
                }
                a = element.getChildren.getLast.getValue.toString
                var value = if(a.isEmpty) {
                    autofill
                } else a
                if(element.getAttributes().get("radiogroup") == null) {
                    inputCheckbox.apply(id, q, value, hint, editable, feedback, review, reviewFeedback).toString()
                } else {
                    if(element.getAttributes().get("radiogroup").equals("true")) {
                        var childItems = element.getChildren().get(0).getChildren().map(f => f.getValue.toString).toList
                        inputRadiobuttonGroup.apply(id, q, value, childItems, hint, editable, feedback, review, reviewFeedback).toString()
                    } else {
                        inputCheckbox.apply(id, q, value, hint, editable, feedback, review, reviewFeedback).toString()
                    }
                }

            case "number" =>
                var autofill = ""
                if(element.getAttributes.get("autofill_id") != null  && !feedback) {
                    autofill = APIController.getDataDirect(element.getAttributes.get("autofill_id")).get(0)
                }
                a = element.getChildren.getLast.getValue.toString
                var value = if(a.isEmpty) {
                    autofill
                } else a

                if(element.getAttributes().get("dropdown") == null) {
                    inputText.apply(id, q, value, hint, editable, feedback, review, reviewFeedback).toString()
                } else {
                    if(element.getAttributes().get("dropdown").equals("true")) {
                        if(element.getAttributes.get("db-mapping") == null) {
                            val childItems = element.getChildren().get(0).getChildren().map(f => f.getValue.toString).toList
                            inputDropdown.apply(id, q, value, childItems, hint, editable, feedback, review, reviewFeedback).toString()
                        } else {
                            val childItems = APIController.getDataDirect(element.getAttributes.get("db-mapping"))
                            inputDropdown.apply(id, q, value, childItems, hint, editable, feedback, review, reviewFeedback).toString()
                        }
                    } else {
                        inputText.apply(id, q, value, hint, editable, feedback, review, reviewFeedback).toString()
                    }
                }
            /*creates text field with number specific*/

            case "long_text" =>
                /*creates a multiline text field*/
                inputTextArea.apply(id, q, a, hint, element.getAttributes.get("max-words"), editable, feedback, review, reviewFeedback).toString()

            case "text" =>
                /*creates text field*/
                var autofill = ""
                if(element.getAttributes.get("autofill_id") != null && !feedback) {
                    autofill = APIController.getDataDirect(element.getAttributes.get("autofill_id")).get(0)
                }
                a = element.getChildren.getLast.getValue.toString
                var value = if(a.isEmpty) {
                    autofill
                } else a

                var isDataList = false;
                if(element.getAttributes().get("datalist") != null){
                    if(element.getAttributes().get("datalist").equals("true")){
                        isDataList = true
                    }
                }

                var isDropdown = false;
                if(element.getAttributes().get("dropdown") != null){
                    if(element.getAttributes().get("dropdown").equals("true")){
                        isDropdown = true
                    }
                }

                var dbMapping: String = ""
                if(element.getAttributes().get("db-mapping") != null){
                    dbMapping = element.getAttributes().get("db-mapping")
                }

                if(isDataList) {
                    val data: List[String] = APIController.getDataDirect(id)
                    inputDatalist.apply(id, q, value, data, hint, editable, feedback, review, reviewFeedback).toString
                } else {
                    if (isDropdown) {
                        if (!dbMapping){
                            val childItems = element.getChildren().get(0).getChildren().map(f => f.getValue.toString).toList
                            inputDropdown.apply(id, q, value, childItems, hint, editable, feedback, review, reviewFeedback).toString()
                        } else {
                            val childItems = APIController.getDataDirect(element.getAttributes.get("db-mapping"))
                            inputDropdown.apply(id, q, value, childItems, hint, editable, feedback, review, reviewFeedback).toString()
                        }
                    } else {
                        inputText.apply(id, q, value, hint, editable, feedback, review, reviewFeedback).toString()
                    }
                }

            case "date" =>
                /*creates text field*/
                var autofill = ""
                if(element.getAttributes.get("autofill_id") != null  && !feedback) {
                    autofill = APIController.getDataDirect(element.getAttributes.get("autofill_id")).get(0)
                }
                a = element.getChildren.getLast.getValue.toString
                var value = if(a.isEmpty){ autofill } else a
                inputDate.apply(id, q, value, hint, editable, feedback, review, reviewFeedback).toString()

            case "document" =>
                /*creates text field*/
                var req = element.getAttributes.get("required")
                if (req == null) {
                    req = "false"
                }
                val desc = element.getAttributes.get("desc")
                val v = element.getChildren.getLast.getValue.toString
                if(v.isEmpty) {
                    inputFile.apply(id, q, "", "", hint, desc, req, editable, feedback, review, reviewFeedback).toString()
                } else {
                    val shortName = v.split("~\\d+~").lift(1).get
                    inputFile.apply(id, q, v, shortName, hint, desc, req, editable, feedback, review, reviewFeedback).toString()
                }

            case "list" =>
                "<p>List Here</p><ul><li>list item 1</li><li>list item 2</li><li>list item 3</li></ul>"

            case _ =>
                "<p>Unhandled Tag : " + element.getType.toLowerCase() + "</p>"
        }
    }

    def getHeading(tag: String, title: String): String = {
        tag match {
            case "section" => "<h2>" + title + "</h2>"
            case "group" => "<h3>" + title + "</h3>"
            case "list" => "<h4>" + title + "</h4>"
            case _ => ""
        }
    }

    /**
        * Tag requires start and end tag like <tag>...</tag> to work. These tags must be directly after one another with no new tags inbetween
      * @param component
      * @param tag
      * @return
      */
    def removeElement(component: String, tag: String): String = {
        // Find location of tag  - 1
        //   <tag...</tag>
        //   ^        location - 1
        val startLocation = component.indexOf(tag) - 1

        // Start search location = startLocation + 2
        //  <tag>...</tag>
        //  ^    ^ search start past closing start tag angle bracket
        val endLocation = component.indexOf(tag, startLocation + tag.length + 2) + tag.length + 1

        // Find location of tag  - 1
        //   <tag...</tag>
        //          ^    finds end location + tag length + 1. Ends on closing angle bracket

        //copy substring (+1 for exclusive end)
        val element = component.substring(startLocation, endLocation+1)

        // get substring excluding current tag
        val comp = component.substring(endLocation)
        comp
    }

    def processList(elem: Element): String = {
        var componentList = mutable.MutableList[mutable.MutableList[String]]()
        val addButton = "<button id=\"btnAdd_" + elem.getId + "\">Add</button>"

        // Create all components
        for (element: Element <- elem.getChildren) {

            // Create list to store each child's components which are generated from the array list
            var childList = mutable.MutableList[String]()
            val elementId = element.getId
            println("Processing List element [" + elementId + "]")

            // Check if the child element's value is an array list, if so, then create all components from it
            if(element.getChildren.getLast.getValue.isInstanceOf[util.ArrayList[String]]) {
                // Get the list of child element values and iterate over them
                val list = element.getChildren.getLast.getValue.asInstanceOf[util.ArrayList[String]]

                // Using createComponent, we create each component and remove the associated labels and hints
                var index = 0
                for(value <- list) {
                    // Set the value by using setValue
                    element.getChildren.getLast.setValue(value)

                    // Set ID by using getAttributes(id) and set ID = $id + "_" + $index
                    val newId = elementId.concat("_").concat(String.valueOf(index))
                    element.getAttributes.put("id", newId)
                    // Set these values into the element and pass it to the component constructor
                    // Retrieve the created component, remove the label and IC and add it to the childList
                    println("Creating TR item: [" + newId + "] -> " + value)

                    //cleanup
                    var component = createComponent(element)
                    component = component.replace("<br>", "")
                    component = component.trim()

                    // remove label
                    val tuple = removeElement(component, "label")
                    component =  tuple

                    //remove icon
                    val tuple1 = removeElement(component, "ic")
                    component =  tuple1
                    component = component.trim

                    //get element
                    val e = component
                    println("element = " + e)

                    // Increment counter
                    index += 1

                    // Add new component
                    childList += component
                }
            }

            componentList += childList
        }

        // create table header
        var tHeadTrContent = ""
        for(e: Element <- elem.getChildren) yield {
            var content = ""

            //Determine column class type
            var className = ""
            if (e.getType.toLowerCase().equals("boolean")){
                className = "col-sm-1"
            } else {
                className = "col-sm-3"
            }

            if(e.getChildren.getFirst.getTag.toLowerCase.equals("question")){
                // If simple question, get first child value
                content = e.getChildren.getFirst.getValue.toString

                //this is a simple input, make thead tr larger than vs dropdown (below)
                className = "col-sm-4"
            } else {
                // If question has data element, get second child value
                content = e.getChildren.get(1).getValue.toString
            }

            val thStart = "<th class=\"" + className + "\">"
            val thEnd = "</th>"

            // Create TR element
            tHeadTrContent += thStart.concat(content).concat(thEnd)
        }
        // Add last column for remove button
        tHeadTrContent += "<th class=\"col-sm-1\"></th>"

        // Create tHead
        val tHead = "<thead><tr>".concat(tHeadTrContent).concat("</tr></thead>")

        // create table body
        // For each arraylist value, get element and set value
        var tBody = ""
        for(componentItem <- componentList) yield {
            var trRow = ""
            for(elementItem <- componentList) {
                trRow += elementItem
            }
            tBody += trRow
        }

        // Create table
        "<h2>" + elem.getAttributes.get("name") + "</h2><table id=\"" + elem.getId + "\" name=\"" + elem.getId + "\" class=\"table\">".concat(tHead).concat(tBody).concat("</table>")
    }

    def parseElement(element: Element): String = {
        val innerText = for(elem: Element <- element.getChildren) yield {
            if (elem.getTag.equals("list")){
                processList(elem)
            } else {
//                if (!elem.isComponent) {
                    /*this creates a container element which consumes some html type text*/
                    val innerText = parseElement(elem)
                    val heading: String = getHeading(elem.getTag, elem.getAttributes.get("name"))
                    //                    if (isList) {
                    //                        val pre = elem.getPreTag("table")
                    //                        val post = elem.getPostTag("table")
                    //                        heading + pre + "<thead><tr>" + innerText + "</tr></thead>" + post
                    //                    } else {
                    val pre = elem.getPreTag("div")
                    val post = elem.getPostTag("div")
                    pre + heading + innerText + post
//                }
                //                } else {
                //                    /*this creates a component of type a specific type*/
                //                    val isListItem = element.getTag.equals("list")
                //                    val value = createComponent(elem)
                //                    if (isListItem) {
                //                        "<th>" + value + "</th>"
                //                    } else {
                //                        value
                //                    }
                //                }
            }
        }
        innerText.mkString("")
    }

    Html(parseElement(root))
}

    @application_content