@import java.util

@import models.ApplicationSystem.{Condition, Question}

@(questionList: util.List[Question])

<div id="filter_question_form" class="modal opague-background">
    <div class="modal-content animate nmu-theme-background">
        <div class="header-panel">
            <span onclick="hidePopup('filter_question_form')" class="close" title="Close PopUp">&times;</span>
            <h1 style="text-align: left">A couple of questions first</h1>
            <h4 style="text-align: left; font-style: italic !important;">This will help us determine if you study does require ethics approval</h4>
        </div>

        <div class="question-content nmu-theme-background">

            @{
                var questionId = 0;

                def getConditions(conditionList: util.List[Condition]): String = {
                    var list = ""
                    for(c <- conditionList) {
                        list += "<input class=\"condition\" type=\"checkbox\" id=\"question_" + questionId + "\" risk=\"" + c.getRisk.name + "\">" + c.getConditionText + "<br>"
                    }
                    list
                }

                def processQuestions(): String = {
                    var list = ""
                    for(q <- questionList) {
                        var l = getConditions(q.getConditionsList)
                        list += "<div class=\"question hidden\"><h2>" + q.getTitle + "</h2><div class=\"condition\">" + l + "</div></div>"
                    }
                    list
                }

                Html(processQuestions())
            }
        </div>

    </div>
</div>