@import views.html.UserSystem.ApplicationFragments.{fragmentSubmittedApplications, fragmentApproveApplications, fragmentReviewApplications}
@import models.UserSystem.Application

@(ownApplications: List[Application], approveApplications: List[Application], reviewApplications: List[Application])

<div class="">
    <br>
    @fragmentSubmittedApplications.apply(ownApplications)
    @fragmentApproveApplications.apply(approveApplications)
    @fragmentReviewApplications.apply(reviewApplications)
</div>
