@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import views.html.Theme.{nmu_footer, nmu_javascripts, nmu_stylesheets, rech_header, rech_menu_bar, static_header}

@(pageTabTitle: String)(bodyContent: Html)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@DefaultPage.apply{
    @DefaultHead.apply("Nelson Mandela University" + pageTabTitle){
        @nmu_stylesheets.apply()
        @nmu_javascripts.apply()
    }
} {
    @DefaultBody.apply {
        <form method="post" action="@routes.HomeController.postNMUSearch()" id="form">
            @helper.CSRF.formField
            @static_header.apply()
            <div id="LogoBar" class="container-fluid transparentBackgroundBlue">
            @rech_header.apply()
            </div>
            <div class="container">
                <div class="MainContent">
                @rech_menu_bar.apply()
                </div>
            </div>
        </form>
    } {
        @BodyContainer.apply{
            @bodyContent
        }
    } {
        @nmu_footer.apply()
    }
}

