@()

<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap-cols.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/smart-menu/sm-hamburger.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/smart-menu/jquery.smartmenus.bootstrap.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu-theme/royalslider.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu-theme/rs-default-new.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/fonts/Font-Awesome/font-awesome.min.css")">

    <!-- Removal of Inline style to prevent CSP Filter tripping in Play! source set to 'self' only -->
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu-theme/csp_complient.css")">

    <!-- SmartMenus core CSS (required) -->
<link href="@routes.Assets.versioned("stylesheets/smart-menu/sm-core-css.css")" rel='stylesheet' type='text/css' />

    <!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href="@routes.Assets.versioned("stylesheets/smart-menu/sm-blue/sm-blue.css")" rel='stylesheet' type='text/css' />

    <!-- Custom NMU style -->
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu-theme/nmu.css")">

    <!-- RECH-System Modifications to accomodate NMU site ported to Play! -->
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu-theme/nmu_modifications.css")">

    <!-- Wizard -->
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/wizard/wizard-core.css")">

<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/application.css")">

