@()

<div id="footer" class="TextFooter">
    <div id="upper-footer" class="container">
        <div class="row">
            <div class="col-sm-5">
                <p class="visible-xs"><a href="http://libray.mandela.ac.za">Libraries</a></p>
                    <!--   <p class="visible-xs"><a href="/Work-here">WORK@@nmmu</a></p>  -->
                <!--   <p class="visible-xs"><a href="http://supportservices.nmmu.ac.za/commercial-services">COMMERCIAL SERVICES@@nmmu</a></p>  -->
                <p class="visible-xs">&nbsp;</p>
                <p class="FooterAddress">Tel: +27 (0) 41 504 1111</p>
                <p class="FooterAddress">Fax: +27 (0) 41 504 2574 / 2731</p>
                <p class="FooterAddress">Email: <a href="mailto:info@@mandela.ac.za">info@@mandela.ac.za</a></p>
                <p class="FooterAddress">PO Box 77000, Nelson Mandela University</p>
                <p class="FooterAddress">Port Elizabeth, 6031, South Africa</p>

            </div>
            <div class="col-sm-3 hidden-xs">
                <p><a href="http://library.nmmu.ac.za">Libraries</a></p>
                <p><a href="http://www.mandela.ac.za/Academic/Faculties,-schools-departments">Faculties</a></p>
                <p><a href="http://www.mandela.ac.za/Academic/Courses-on-offer">Courses</a></p>
            </div>
            <div class="col-sm-4 hidden-xs">
                    <!-- <p><a href="/Work-here">WORK@@nmmu</a></p>   -->
                <p><a href="http://www.mandela.ac.za/Apply/Admission/How-do-I-apply">Admissions</a></p>
                <p><a href="http://research.mandela.ac.za">Research</a></p>
                <p><a href="http://connect.mandela.ac.za">Connect@@Mandela</a></p>
                    <!-- <p><a href="http://supportservices.nmmu.ac.za/commercial-services">COMMERCIAL SERVICES@@nmmu</a></p>  -->
                <!-- <p><a href="http://www.nmmu.ac.za/How-to-become-a-supplier-for-NMMU">Become a supplier for NMMU</a></p>  -->
                <p>Report <a href="http://www.mandela.ac.za/Report-spam">spam</a> / <a href="http://www.mandela.ac.za/Report-a-Security-Breach">security breach</a></p>
            </div>
        </div>
    </div>

    <div id="lower-footer" class="container-fluid">
        <div id="LowerFooterDetail" class="container">
            <div class="row">
                <div class="col-sm-5 tbsHnopad">
                    <div class="clearfixNopad">
                        <ul class="nav navbar-nav visible-xs visible-sm tbsVpad sm" data-smartmenus-id="15300895809113691">
                            <li><a class="navbar-icon" href="http://www.facebook.com/mandelauni"><img alt="facebook" src="@routes.Assets.versioned("images/theme/facebook.png")"></a></li>
                            <li><a class="navbar-icon" href="http://www.twitter.com/mandelauni"><img alt="twitter" src="@routes.Assets.versioned("images/theme/twitterwhite.png")"></a></li>
                            <li><a class="navbar-icon" href="https://plus.google.com/113939268207479606258?prsrc=3"><img alt="googleplus" src="@routes.Assets.versioned("images/theme/googleplus.png")"></a></li>
                            <li><a class="navbar-icon" href="http://www.youtube.com/NMMUonTube"><img alt="youtube" src="@routes.Assets.versioned("images/theme/youtube.png")"></a></li>
                            <li><a class="navbar-icon" href="https://instagram.com/mandelauniversity"><img alt="Instagram" src="@routes.Assets.versioned("images/theme/instagramwhite.png")"></a></li>
                                <!--    <li class="visible-xs"><a href="/Site-map" style="padding:5px;font-size:12px !important">Sitemap</a></li>
                            <li class="visible-xs"><a href="/A-Z-Index" style="padding:5px;font-size:12px !important">A - Z Index</a></li>  -->
                        </ul>
                    </div>
                    <div class="LowerFooterText">© 2018 Nelson Mandela University</div>
                </div>

                <div class="col-sm-7">
                    <p class="LowerFooterText LowerFooterTextRight hidden-xs"> <a href="https://www.mandela.ac.za/cmsdesk">WCMS</a></p>
                        <!-- <p class="LowerFooterText LowerFooterTextRight hidden-xs"><a href="http://tme.nmmu.ac.za/Policies---Other-Important-Documents">BEE & Tax Certificate</a> &nbsp;&nbsp;  <a href="/Promotion-of-Access-to-Information-Act">PAIA</a> &nbsp;&nbsp;  <a href="/ispa">ISPA</a>  &nbsp;&nbsp; <a href="/Apply/Frequently-asked-questions">FAQ</a> &nbsp;&nbsp;  <a href="/Site-map">Sitemap</a> &nbsp;&nbsp;  <a href="/A-Z-Index">A - Z Index</a> &nbsp;&nbsp;  <a href="/cmsdesk">WCMS</a></p> -->

                </div>
            </div>

        </div>
    </div>
</div>