@()

<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/bootstrap-cols.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/sm-core-css.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/sm-hamburger.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/jquery.smartmenus.bootstrap.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/royalslider.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/rs-default-new.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/csp_complient.css")">
<link rel="stylesheet" type="text/css"  href="@routes.Assets.versioned("stylesheets/nmu_modifications.css")">