@import helpers.CookieTags
@()

@getName = @{
    val v = session().get(CookieTags.user_id)
    if (v == null || v.isEmpty) {
        Nil
    } else {
        session().get(CookieTags.fullname)
    }
}

<div class="row tbsRow">
    <div class="col-sm-12 tbsHnopad">
        <div class="col-sm-12 BoxMediumBlue TextWhite tbsVpad">
            @if(getName != Nil) {
            <div class="portal-icon portal-icon-extend-margin">
                <a href="@controllers.UserSystem.routes.ProfileHandler.overview()" id="IconMenuBarOverview"><ic class="fa fa-3x fa-reorder drop-bottom-5"></ic><br>
                    <span>Overview</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="@controllers.ApplicationSystem.routes.ApplicationHandler.allApplications()" id="IconMenuBarApplications" onmouseenter="openPopup('application_dropdown-menu')"><ic class="fa fa-3x fa-book drop-bottom-5" ></ic><br>
                    <span>Applications</span></a>
            </div>
            <div class="portal-icon portal-icon-extend-margin">
                <a disabled="true" href="@controllers.MessageSystem.routes.MessageController.allMessages()" id="IconMenuBarMessage" target="_blank"><ic class="fa fa-3x fa-envelope-o drop-bottom-5"></ic><br>
                    <span>Message</span></a></div>
            }
            <div class="portal-icon portal-icon-extend-margin">
                <a href="@routes.HomeController.about()" id="IconMenuBarAbout"><ic class="fa fa-3x fa-users drop-bottom-5"></ic><br>
                    <span>About the Committee</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a disabled="true" href="@routes.HomeController.helpSupport()" id="IconMenuBarHelpSupport"><ic class="fa fa-3x fa-question-circle-o drop-bottom-5"></ic><br>
                    <span>Help & Support</span></a></div>

            @*TODO fix the drop down feature*@

            @if(getName == Nil) {
                <div class="pull-right portal-icon larger-width" style="transform: translateY(45%); padding: 5px !important;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="col-sm-4">
                            <button-small onclick="window.location.href = '@controllers.UserSystem.routes.LoginController.login()'" id="btnLogin" class="nmu-button button-small">Login</button-small></a>
                        </div>
                        <div class="col-sm-1"><p style="margin-left: 10px"> OR </p></div>
                        <div class="col-sm-5">
                            <button-small onclick="window.location.href = '@controllers.UserSystem.routes.RegistrationController.registerInitial()'" id="btnRegister" class="nmu-button button-small">Register</button-small></a>
                        </div>
                    </div>
                </div>
                </div>
            } else {
                <div class="pull-right portal-icon larger-width">
                <ic class="fa fa-3x fa-user-circle-o drop-bottom-5"></ic>
                    <br/>
                    <ul id="profile-menu" class="sm sm-clean-vertical dropdown-menu-right profile-name-header">
                        <li><a href="#" id="IconMenuBarProfile">@getName <span class="caret"></span> </a>
                        <ul id="MailDropDown" class="dropdown-menu">
                            <li><a href="@controllers.UserSystem.routes.ProfileHandler.settings()">Settings</a></li>
                            <li><a href="@controllers.UserSystem.routes.LoginController.logout()">Logout</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            }
            </div>
        </div>
    </div>
    <ul id="application_dropdown-menu" class="sm darkbackground" style="display: none" onmouseleave="hidePopup('application_dropdown-menu')">
        <li><a href="#" onclick="openPopup('select_application_type_popup', true);">Create New Application</a></li>
        <li><a href="@controllers.ApplicationSystem.routes.ApplicationHandler.allApplications()">View Applications</a></li>
    </ul>
</div>

    <div id="select_application_type_popup" class="modal">
        <div class="modal-content animate nmu-theme-darkbackground">
            <div class="popup-header">
                <span onclick="hidePopup('select_application_type_popup')" class="close" title="Close PopUp">&times;</span>
                <h2>Choose application type</h2>
            </div>

            <div class="lessen-top-margin">
                <button onclick="window.location.href = '@controllers.ApplicationSystem.routes.ApplicationHandler.newApplication("human")'" class="nmu-button" type="submit">Human Research</button>
                <button disabled="true" onclick="window.location.href = '@controllers.ApplicationSystem.routes.ApplicationHandler.newApplication("animal")'" class="nmu-button" type="submit">Animal Research</button>
            </div>
        </div>
    </div>