@import views.html.Templates.Flasher

@()

<div class="container">
    <div class="row">
        <br/>
        @Flasher.apply()
        <div class="MegaDropDownDiv pad-top-10">
            <div id="divLogo" class="col-xs-2 col-sm-3 tbsHnopad">
                <a href="@routes.HomeController.redirectMandela("#")" id="aLogo">
                    <img id="imgLogo" class="img-responsive imgLogo" src="@routes.Assets.versioned("images/theme/MandelaUniversity_logo_B.png")" alt="Logo">
                    <img id="imgLogoS" class="img-responsive imgLogoS" src="@routes.Assets.versioned("images/theme/MandelaUniversity_logo_s_B.png")" alt="Logo">
                </a>
            </div>
            <div id="divText" class="col-xs-10 col-sm-9">
                <div class="row">
                    <div id="divStrapLine" class="col-xs-12 tbsHnopad">
                        <div id="StrapLine" class="StrapLine">
                            <div class="row">
                                <p style="float: right">Research & Ethics Committee</p>
                            </div>
                            <div class="row">
                                <p style="float: right; display: block" class="EntityHeader">Human & Animal Research</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divSearchOnMobile" class="col-xs-4 hidden-md hidden-lg">
        </div>
    </div>
</div>