@()

<div class="row tbsRow">
    <div class="col-sm-12 tbsHnopad">
        <div class="col-sm-12 BoxMediumBlue TextWhite tbsVpad">
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://library.mandela.ac.za" id="IconMenuBarOverview"><ic class="fa fa-3x fa-reorder drop-bottom-5"></ic><br>
                    <span>Overview</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="/Portal-pages/Shuttle" id="IconMenuBarApplications"><ic class="fa fa-3x fa-book drop-bottom-5"></ic><br>
                    <span>Applications</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://studmail.nmmu.ac.za" id="IconMenuBarMessage" target="_blank"><ic class="fa fa-3x fa-envelope-o drop-bottom-5"></ic><br>
                    <span>Message</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarAbout"><ic class="fa fa-3x fa-users drop-bottom-5"></ic><br>
                    <span>About the Committee</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarHelpSupport"><ic class="fa fa-3x fa-question-circle-o drop-bottom-5"></ic><br>
                    <span>Help & Support</span></a></div>
            <div class="pull-right portal-icon larger-width has-submenu">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarProfile"><ic class="fa fa-3x fa-user-circle-o drop-bottom-5"></ic><br>
                    <span>Welcome, User <span class="sub-arrow">...</span></span>
                </a>

                <ul id="MailDropDown" class="dropdown-menu sm-nowrap" style="display: none; width: auto; top: auto; left: 0px; margin-left: 0px; margin-top: 0px; min-width: 10em; max-width: 20em;"><li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Publications"><p class="bodyMenuStyling">
                    Publications</p>
                </a>
                </li>
                    <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Multimedia-gallery"><p class="bodyMenuStyling">
                        Multimedia gallery</p>
                    </a>
                    </li>
                    <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/News"><p class="bodyMenuStyling">
                        News</p>
                    </a>
                    </li>
                    <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Happening@@Mandela"><p class="bodyMenuStyling">
                        Happening@@Mandela</p>
                    </a>
                    </li>
                </ul>



            </div>
        </div>
    </div>
</div>