@()


<div class="container">
    <div class="row">

        <div class="MegaDropDownDiv">
            <div id="divLogo" class="col-xs-2 col-sm-3 tbsHnopad">
                <a href="@routes.HomeController.redirectMandela("#")" id="aLogo">
                    <img id="imgLogo" class="img-responsive imgLogo" src="@routes.Assets.versioned("images/theme/MandelaUniversity_logo_B.png")" alt="Logo">
                    <img id="imgLogoS" class="img-responsive imgLogoS" src="@routes.Assets.versioned("images/theme/MandelaUniversity_logo_s_B.png")" alt="Logo">
                </a>
            </div>
            <div id="divText" class="col-xs-10 col-sm-9">
                <div class="row">
                    <div id="divStrapLine" class="col-xs-12 tbsHnopad">
                        <p id="StrapLine" class="StrapLine">Research & Ethics Committee</p>
                    </div>
                    <div id="divStrapLine" class="col-xs-12 tbsHnopad">
                        <p class="EntityHeader">Human Research</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="divSearchOnMobile" class="col-xs-4 hidden-md hidden-lg">
        </div>
    </div>
</div>