@()

<div class="row tbsRow">
    <div class="col-sm-12 tbsHnopad">
        <div class="col-sm-12 BoxMediumBlue TextWhite  tbsVpad ">
            <div class="portal-icon">
                <a href="http://library.mandela.ac.za" id="IconMenuBarLibrary"><ic class="fa fa-3x fa-reorder"></ic><br>
                    <span>Overview</span></a></div>
            <div class="portal-icon">
                <a href="/Portal-pages/Shuttle" id="IconMenuBarShuttle"><ic class="fa fa-3x fa-book"></ic><br>
                    <span>Applications</span></a></div>
            <div class="portal-icon"><a href="http://studmail.nmmu.ac.za" id="IconMenuBarEmail" target="_blank"><ic class="fa fa-3x fa-envelope-o"></ic><br><span>Message</span></a></div>
            <div class="portal-icon">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarMoodle"><ic class="fa fa-3x fa-question-circle-o"></ic><br>
                    <span>Help & Support</span></a></div>
            <div class="pull-right portal-icon">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarMoodle"><ic class="fa fa-3x fa-user-circle-o"></ic><br>
                    <span>Charles</span></a></div>
            <div aria-hidden="true" aria-labelledby="myModal-label" class="modal fade" id="feedbackform" role="dialog" style="display: none;" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 700px;">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">
                                ×</span></button>
                            <h4 class="modal-title" data-unsp-sanitized="clean" id="myModal-label">
                                Feedback Form</h4>
                        </div>
                        <div class="modal-body">
                            <div id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz">
                                <div id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_pM_pMP">

                                </div><div id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00">
                                <div id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_pnlForm" class="FormPanel" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_btnOK')">
                                    <p>
                                        <label id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_YourEmail_lb" class="EditingFormLabel" for="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_YourEmail_txtEmailInput">
                                            Enter your e-mail address:</label>&nbsp; </p><div class="EditingFormControlNestedControl">
                                    <input name="p$lt$zoneContent$placeholderMainContent$p$lt$zoneWidgetPage$12_11$12_11_Zone_1$editabletext_13$ucEditableText$widget1$ctl00$viewBiz$ctl00$YourEmail$txtEmailInput" type="text" maxlength="100" id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_YourEmail_txtEmailInput" class="TextBoxField">

                                </div><p></p>
                                    <p>
                                        <label id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_FormFeedback_lb" class="EditingFormLabel" for="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_FormFeedback_textbox">
                                            Enter your comments:</label> &nbsp;</p><div class="EditingFormControlNestedControl">
                                    <textarea name="p$lt$zoneContent$placeholderMainContent$p$lt$zoneWidgetPage$12_11$12_11_Zone_1$editabletext_13$ucEditableText$widget1$ctl00$viewBiz$ctl00$FormFeedback$textbox" rows="5" cols="25" id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_FormFeedback_textbox" class="TextAreaField"></textarea>

                                </div><p></p>
                                    <p>
                                        <span style="background-color: transparent;"></span></p><div class="EditingFormControlNestedControl">

                                    <div>
                                        <label id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_captcha_lblSecurityCode" for="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_captcha_txtSecurityCode">
                                            Enter security code:</label>
                                    </div>
                                    <table class="CaptchaTable">
                                        <tbody><tr>
                                            <td>
                                                <input name="p$lt$zoneContent$placeholderMainContent$p$lt$zoneWidgetPage$12_11$12_11_Zone_1$editabletext_13$ucEditableText$widget1$ctl00$viewBiz$ctl00$captcha$txtSecurityCode" type="text" id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_captcha_txtSecurityCode" class="CaptchaTextBox">
                                            </td>
                                            <td>
                                                    &nbsp;<img id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_captcha_imgSecurityCode" src="/CMSPages/Dialogs/CaptchaImage.aspx?hash=14111e74-6424-4c78-8bc0-9ca7a27c3256&amp;captcha=p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_captcha&amp;width=80&amp;height=20" alt="Security code">
                                            </td>

                                        </tr>
                                        </tbody></table>

                                </div> <p></p>
                                    <p>
                                        <input type="submit" name="p$lt$zoneContent$placeholderMainContent$p$lt$zoneWidgetPage$12_11$12_11_Zone_1$editabletext_13$ucEditableText$widget1$ctl00$viewBiz$ctl00$btnOK" value="Submit" id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget1_ctl00_viewBiz_ctl00_btnOK" class="FormButton"></p>

                                </div>
                            </div>
                            </div></div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button></div>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModal-label" class="modal fade" id="emergencyEvacuation" role="dialog" style="display: none;" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 700px;">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">
                                ×</span></button>
                            <h4 class="modal-title" data-unsp-sanitized="clean" id="myModal-label">
                                Emergency Evacuation</h4>
                        </div>
                        <div class="modal-body">
                            <div class="MediaGallery">
                                <div class="MediaGalleryContent">
                                    <div class="MediaLibrarySort">
                                    </div>
                                    <table cellpadding="0" cellspacing="0" class="mediaLibraryListTable">
                                        <tbody><tr>
                                            <td class="mediaLibraryIcon"><a href="/getmedia/951c1aac-7971-42a2-87c3-5cc2460b7cf9/EMERGENCY-EVACUATION-INFO-POSTER?disposition=attachment" target="_blank">
                                                <img src="/App_Themes/Default/Images/FileIcons/list/pdf.gif" alt="" border="0">
                                            </a>
                                            </td>
                                            <td class="mediaLibraryFileName">
                                                <a href="/getmedia/951c1aac-7971-42a2-87c3-5cc2460b7cf9/EMERGENCY-EVACUATION-INFO-POSTER?disposition=attachment" target="_blank">
                                                    EMERGENCY-EVACUATION-INFO-POSTER</a>
                                                <span class="mediaLibrarySize">(326 kB)</span>
                                            </td>
                                        </tr>
                                        </tbody></table><div class="photoSeparator"></div>
                                    <table cellpadding="0" cellspacing="0" class="mediaLibraryListTable">
                                        <tbody><tr>
                                            <td class="mediaLibraryIcon"><a href="/getmedia/51140a1d-65af-4624-917a-6598d633addb/FIRE-EMERGENCY-EVACUATION-GUIDELINES?disposition=attachment" target="_blank">
                                                <img src="/App_Themes/Default/Images/FileIcons/list/pdf.gif" alt="" border="0">
                                            </a>
                                            </td>
                                            <td class="mediaLibraryFileName">
                                                <a href="/getmedia/51140a1d-65af-4624-917a-6598d633addb/FIRE-EMERGENCY-EVACUATION-GUIDELINES?disposition=attachment" target="_blank">
                                                    FIRE-EMERGENCY-EVACUATION-GUIDELINES</a>
                                                <span class="mediaLibrarySize">(167 kB)</span>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                    <div class="Pager">

                                    </div>
                                    <div id="p_lt_zoneContent_placeholderMainContent_p_lt_zoneWidgetPage_12_11_12_11_Zone_1_editabletext_13_ucEditableText_widget2_ctl00_gallery_pnlFileUploader" class="FileUploader">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button></div>
                    </div>
                </div>
            </div>
            <script>
            </script>
        </div>
    </div>
</div>