@()

<div class="row tbsRow">
    <div class="col-sm-12 tbsHnopad">
        <div class="col-sm-12 BoxMediumBlue TextWhite tbsVpad">
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://library.mandela.ac.za" id="IconMenuBarOverview"><ic class="fa fa-3x fa-reorder drop-bottom-5"></ic><br>
                    <span>Overview</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="/Portal-pages/Shuttle" id="IconMenuBarApplications"><ic class="fa fa-3x fa-book drop-bottom-5"></ic><br>
                    <span>Applications</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://studmail.nmmu.ac.za" id="IconMenuBarMessage" target="_blank"><ic class="fa fa-3x fa-envelope-o drop-bottom-5"></ic><br>
                    <span>Message</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarAbout"><ic class="fa fa-3x fa-users drop-bottom-5"></ic><br>
                    <span>About the Committee</span></a></div>
            <div class="portal-icon portal-icon-extend-margin">
                <a href="http://learn.mandela.ac.za" id="IconMenuBarHelpSupport"><ic class="fa fa-3x fa-question-circle-o drop-bottom-5"></ic><br>
                    <span>Help & Support</span></a></div>

            @*TODO fix the drop down feature*@
            <div class="pull-right portal-icon larger-width">
                <ic class="fa fa-3x fa-user-circle-o drop-bottom-5"></ic><br>
                <ul id="profile-menu" class="sm sm-clean-vertical">
                    <li><a href="#" id="IconMenuBarProfile">Welcome, User<span class="sub-arrow-manual"></span> </a>
                        <ul>
                            <li><a style="background-color: red;" href="#">Settings</a></li>
                            <li><a style="background-color: red;" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>