@()

<div class="container-fluid navbar-blue-gradient navbar-fixed-top tbsZindex">
    <div class="container" id="container-static-header">
        <div id="navbarDefault" class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                    <!-- SEARCH AND ICONS -->
                <div role="search" class="navbar-form navbar-right hidden-xs" id="navbar-static-header">
                    <div class="inner-addon right-addon">
                        <ic class="fa fa-lg fa-search TextWhite"></ic>
                        <div id="p_lt_zoneSearchBox_SearchBox_pnlSearch" class="setSearchBox_OnKeyPressEvent">

                            <label for="p_lt_zoneSearchBox_SearchBox_txtWord" id="p_lt_zoneSearchBox_SearchBox_lblSearch">
                                Search for:</label>
                            <input name="p$lt$zoneSearchBox$SearchBox$txtWord" type="text" maxlength="1000" id="p_lt_zoneSearchBox_SearchBox_txtWord" class="form-control" placeholder="Search">
                            <input type="submit" name="p$lt$zoneSearchBox$SearchBox$btnSearch" value="." id="p_lt_zoneSearchBox_SearchBox_btnSearch" class="btnSearch">

                        </div>

                    </div>
                </div>

                <ul class="SocialIcons nav navbar-nav navbar-right hidden-xs hidden-sm sm" data-smartmenus-id="1529945320083522">
                    <li><a class="navbar-icon" href="http://www.facebook.com/mandelauni"><ic class="fa fa-lg fa-facebook"></ic></a></li>
                    <li><a class="navbar-icon" href="http://www.twitter.com/mandelauni"><ic class="fa fa-lg fa-twitter"></ic></a></li>
                    <li><a class="navbar-icon" href="https://plus.google.com/113939268207479606258?prsrc=3"><ic class="fa fa-lg fa-google-plus"></ic></a></li>
                    <li><a class="navbar-icon" href="https://www.youtube.com/user/NMMUonTube"><ic class="fa fa-lg fa-youtube"></ic></a></li>
                    <li><a class="navbar-icon" href="https://instagram.com/mandelauniversity"><ic class="fa fa-lg fa-instagram"></ic></a></li>
                </ul>
            </div>

            <ul id="divNavbarTop" class="nav navbar-nav sm" data-smartmenus-id="15299453200927297"><li><a href="/"><img src="@routes.Assets.versioned("images/theme/home.png")" id="img-static-header"></a></li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Contact-us">
                Contact us</a>
                </li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals" class="has-submenu">
                Mail &amp; portals</a>
                    <ul id="MailDropDown" class="dropdown-menu sm-nowrap"><li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Staff-mail"><p class="bodyMenuStyling">
                Staff mail</p>
                    </a>
                    </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Staff-portal"><p class="bodyMenuStyling">
                Staff portal</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Student-mail"><p class="bodyMenuStyling">
                Student mail</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Student-portal"><p class="bodyMenuStyling">
                Student portal</p>
                        </a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Media-centre" class="has-submenu">
                Media centre</a>
                    <ul id="MailDropDown" class="dropdown-menu sm-nowrap"><li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Publications"><p class="bodyMenuStyling">
                Publications</p>
                    </a>
                    </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Multimedia-gallery"><p class="bodyMenuStyling">
                Multimedia gallery</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/News"><p class="bodyMenuStyling">
                News</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Happening@@Mandela"><p class="bodyMenuStyling">
                Happening@@Mandela</p>
                        </a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Alumni">
                Alumni</a>
                </li> </ul>

        </div>
    </div>

        <!-- <div id="topMenuMegaTop"></div>  -->
</div>

@*Can be used for Main Menu on right side of rech_header*@
@*
<div class="col-xs-12 tbsHnopad MegaDrop" id="div-col-rech-header">
    <div class="navbar-default"><ul id="main-menu" class="nav navbar-nav MegaDropDown sm" data-smartmenus-id="15299453210497266"><li><a href="http://www.mandela.ac.za/Academic" class="has-submenu">
        Academic<span class="sub-arrow">...</span></a>
        <ul id="ul-academic-rech-header" class="mega-menu hidden-xs">
            <li>
                    <!-- The mega drop down contents -->
                <div class="MenuContents container"><div class="row"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/Academic/Courses-on-offer">
                    Courses on offer</a><a class="Level3" href="http://www.mandela.ac.za/Academic/Courses-on-offer/APS-Calculator">
                    APS Calculator</a><a class="Level3" href="http://www.mandela.ac.za/Academic/Courses-on-offer/Module-Browser">
                    Module Browser</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Short-courses">
                    Short courses</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Special-programmes">
                    Special programmes</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/Academic/Postgraduate-mature-students">
                    Postgraduate &amp; mature students</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Study-abroad">
                    Study abroad</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Teaching-Learning">
                    Teaching &amp; Learning</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Research">
                    Research</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Innovation">
                    Innovation</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/Academic/Engagement">
                    Engagement</a><a class="Level2" href="http://www.mandela.ac.za/Academic/Faculties,-schools-departments">
                    Faculties, schools &amp; departments</a><a class="Level2" href="http://www.mandela.ac.za/Academic/General-information">
                    General information</a> </div></div>
                </div></li>
        </ul>
    </li><li><a href="http://www.mandela.ac.za/Apply" class="has-submenu">
        Apply<span class="sub-arrow">...</span></a>
        <ul id="ul-apply-rech-header" class="mega-menu hidden-xs">
            <li>
                    <!-- The mega drop down contents -->
                <div class="MenuContents container"><div class="row"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/Apply/Admission">
                    Admission</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/How-do-I-apply">
                    How do I apply?</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Our-courses-per-faculty">
                    Our courses per faculty</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Entry-requirements">
                    Entry requirements</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/National-Certificate-Vocational-(NCV)">
                    National Certificate Vocational (NCV)</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Check-your-admission-status">
                    Check your admission status</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Closing-dates">
                    Closing dates</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Access-Assessment-Testing-(CAAR)">
                    Access Assessment Testing (CAAR)</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Need-some-assistance">
                    Need some assistance?</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Admission/Important-info-for-new-students">
                    Important info for new students</a><a class="Level2" href="http://www.mandela.ac.za/Apply/Funding-your-studies">
                    Funding your studies</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Funding-your-studies/General-Financial-information">
                    General Financial information</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Funding-your-studies/Fees-per-qualification">
                    Fees per qualification</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Funding-your-studies/Financial-Aid-bursaries">
                    Financial Aid &amp; bursaries</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Funding-your-studies/Postgraduate-bursaries">
                    Postgraduate bursaries</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Funding-your-studies/Vice-Chancellor’s-Scholarship-Programme">
                    Vice-Chancellor’s Scholarship Programme</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/Apply/Apply-for-accommodation">
                    Apply for accommodation</a><a class="Level2" href="http://www.mandela.ac.za/Apply/International-students">
                    International students</a><a class="Level2" href="http://www.mandela.ac.za/Apply/Frequently-asked-questions">
                    Frequently asked questions</a><a class="Level2" href="http://www.mandela.ac.za/Apply/Information-for-parents">
                    Information for parents</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Information-for-parents/Info-for-Grade-9-s">
                    Info for Grade 9's</a><a class="Level3" href="http://www.mandela.ac.za/Apply/Information-for-parents/Info-for-Grade-11-s">
                    Info for Grade 11's</a><a class="Level2" href="http://www.mandela.ac.za/Apply/Quick-documentation">
                    Quick documentation</a><a class="Level2" href="http://www.mandela.ac.za/Apply/Contact-us">
                    Contact us</a> </div></div>
                </div></li>
        </ul>
    </li><li><a href="http://www.mandela.ac.za/On-campus" class="has-submenu">
        On campus<span class="sub-arrow">...</span></a>
        <ul id="ul-oncampus-rech-header" class="mega-menu hidden-xs">
            <li>
                    <!-- The mega drop down contents -->
                <div class="MenuContents container"><div class="row"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/On-campus/Campuses">
                    Campuses</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/Campus-maps">
                    Campus maps</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/Bird-Street-Campus">
                    Bird Street Campus</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/George-Campus">
                    George Campus</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/Missionvale-Campus">
                    Missionvale Campus</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/North-Campus">
                    North Campus</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/Second-Avenue-Campus">
                    Second Avenue Campus</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/South-Campus">
                    South Campus</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Campuses/Ocean-Sciences-Campus">
                    Ocean Sciences Campus</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/On-campus/Visit">
                    Visit</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Visit/Virtual-tours">
                    Virtual tours</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Visit/Drone-flybys">
                    Drone flybys</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Visit/Open-days">
                    Open days</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Visit/Nelson-Mandela-University-Nature-Reserve">
                    Nelson Mandela University Nature Reserve</a><a class="Level2" href="http://www.mandela.ac.za/On-campus/Events">
                    Events</a><a class="Level2" href="http://www.mandela.ac.za/On-campus/Library-and-Information-Services">
                    Library and Information Services</a><a class="Level2" href="http://www.mandela.ac.za/On-campus/Sport">
                    Sport</a><a class="Level2" href="http://www.mandela.ac.za/On-campus/Societies-student-life">
                    Societies &amp; student life</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/On-campus/Support-departments">
                    Support departments</a><a class="Level2" href="http://www.mandela.ac.za/On-campus/Facilities-services">
                    Facilities &amp; services</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Facilities-services/Conference-event-facilities">
                    Conference &amp; event facilities</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Facilities-services/Galleries-exhibition-centres">
                    Galleries &amp; exhibition centres</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Facilities-services/Food-courts">
                    Food courts</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Facilities-services/University-Shop">
                    University Shop</a><a class="Level3" href="http://www.mandela.ac.za/On-campus/Facilities-services/Building-names-and-numbers">
                    Building names and numbers</a> </div></div>
                </div></li>
        </ul>
    </li><li><a href="http://www.mandela.ac.za/About-us" class="has-submenu">
        About us<span class="sub-arrow">...</span></a>
        <ul id="ul-about-rech-header" class="mega-menu hidden-xs">
            <li>
                    <!-- The mega drop down contents -->
                <div class="MenuContents container"><div class="row"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/About-us/Our-impact">
                    Our impact</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-impact/Mission,-Vision-Values">
                    Mission, Vision &amp; Values</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-impact/History">
                    History</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-impact/Our-identity">
                    Our identity</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-impact/Conferences">
                    Conferences</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-impact/Public-and-Inaugural-Lectures">
                    Public and Inaugural Lectures</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/About-us/Our-people">
                    Our people</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-people/Leadership">
                    Leadership</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-people/Chancellor">
                    Chancellor</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-people/Deans">
                    Deans</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-people/Members-of-the-University-Council">
                    Members of the University Council</a><a class="Level3" href="http://www.mandela.ac.za/About-us/Our-people/Staff-Search">
                    Staff Search</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/About-us/Fast-Facts">
                    Fast Facts</a><a class="Level2" href="http://www.mandela.ac.za/About-us/The-University-Trust">
                    The University Trust</a><a class="Level2" href="http://www.mandela.ac.za/About-us/Almanac">
                    Almanac</a><a class="Level2" href="http://www.mandela.ac.za/About-us/Academic-Calendar-2018">
                    Academic Calendar 2018</a><a class="Level2" href="http://www.mandela.ac.za/About-us/Academic-Calendar-2019">
                    Academic Calendar - 2019</a> </div></div>
                </div></li>
        </ul>
    </li><li><a href="http://www.mandela.ac.za/Students" class="has-submenu">
        Students<span class="sub-arrow">...</span></a>
        <ul id="ul-students-rech-header" class="mega-menu hidden-xs">
            <li>
                    <!-- The mega drop down contents -->
                <div class="MenuContents container"><div class="row"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level2" href="http://www.mandela.ac.za/Students/Registration">
                    Registration</a><a class="Level2" href="http://www.mandela.ac.za/Students/Orientation-for-new-students">
                    Orientation for new students</a><a class="Level2" href="http://www.mandela.ac.za/Students/Student-support-departments">
                    Student support departments</a><a class="Level2" href="http://www.mandela.ac.za/Students/Graduation">
                    Graduation</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level3" href="http://www.mandela.ac.za/Students/Graduation/Check-your-graduation-details">
                    Check your graduation details</a><a class="Level3" href="http://www.mandela.ac.za/Students/Graduation/Graduation-Ceremonies">
                    Graduation Ceremonies</a><a class="Level3" href="http://www.mandela.ac.za/Students/Graduation/Graduation-Videos-Programmes">
                    Graduation Videos &amp; Programmes</a><a class="Level3" href="http://www.mandela.ac.za/Students/Graduation/Graduation-speeches">
                    Graduation speeches</a></div><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a class="Level3" href="http://www.mandela.ac.za/Students/Graduation/Honorary-Doctorate-acceptance-speech-videos">
                    Honorary Doctorate acceptance speech videos</a><a class="Level2" href="http://www.mandela.ac.za/Students/Contact-us">
                    Contact us</a><a class="Level2" href="http://www.mandela.ac.za/Students/Useful-links">
                    Useful links</a> </div></div>
                </div></li>
        </ul>
    </li></ul></div>
</div>*@
