@()

<div class="container-fluid navbar-blue-gradient navbar-fixed-top tbsZindex">
    <div class="container" id="container-static-header">
        <div id="navbarDefault" class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                    <!-- SEARCH AND ICONS -->
                <div role="search" class="navbar-form navbar-right hidden-xs" id="navbar-static-header">
                    <div class="inner-addon right-addon">
                        <ic class="fa fa-lg fa-search TextWhite"></ic>
                        <div id="p_lt_zoneSearchBox_SearchBox_pnlSearch" class="searchBox">

                            <label for="p_lt_zoneSearchBox_SearchBox_txtWord" id="p_lt_zoneSearchBox_SearchBox_lblSearch">
                                Search for:</label>
                            <input name="p$lt$zoneSearchBox$SearchBox$txtWord" type="text" maxlength="1000" id="p_lt_zoneSearchBox_SearchBox_txtWord" class="form-control" placeholder="Search">
                            <input type="submit" name="p$lt$zoneSearchBox$SearchBox$btnSearch" value="." id="p_lt_zoneSearchBox_SearchBox_btnSearch" class="btnSearch">

                        </div>

                    </div>
                </div>

                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm sm SocialIcons" data-smartmenus-id="1529945320083522">
                    <li><a class="navbar-icon" href="http://www.facebook.com/mandelauni"><ic class="fa fa-lg fa-facebook"></ic></a></li>
                    <li><a class="navbar-icon" href="http://www.twitter.com/mandelauni"><ic class="fa fa-lg fa-twitter"></ic></a></li>
                    <li><a class="navbar-icon" href="https://plus.google.com/113939268207479606258?prsrc=3"><ic class="fa fa-lg fa-google-plus"></ic></a></li>
                    <li><a class="navbar-icon" href="https://www.youtube.com/user/NMMUonTube"><ic class="fa fa-lg fa-youtube"></ic></a></li>
                    <li><a class="navbar-icon" href="https://instagram.com/mandelauniversity"><ic class="fa fa-lg fa-instagram"></ic></a></li>
                </ul>
            </div>

            <ul id="divNavbarTop" class="nav navbar-nav sm" data-smartmenus-id="15299453200927297"><li><a href="@routes.HomeController.redirectMandela("#")"><img src="@routes.Assets.versioned("images/theme/home.png")" id="img-static-header"></a></li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Contact-us">
                Contact us</a>
                </li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals" class="has-submenu">
                Mail &amp; portals</a>
                    <ul id="MailDropDown" class="dropdown-menu sm-nowrap"><li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Staff-mail"><p class="bodyMenuStyling">
                Staff mail</p>
                    </a>
                    </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Staff-portal"><p class="bodyMenuStyling">
                Staff portal</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Student-mail"><p class="bodyMenuStyling">
                Student mail</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Mail-portals/Student-portal"><p class="bodyMenuStyling">
                Student portal</p>
                        </a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Media-centre" class="has-submenu">
                Media centre</a>
                    <ul id="MailDropDown" class="dropdown-menu sm-nowrap"><li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Publications"><p class="bodyMenuStyling">
                Publications</p>
                    </a>
                    </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Multimedia-gallery"><p class="bodyMenuStyling">
                Multimedia gallery</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/News"><p class="bodyMenuStyling">
                News</p>
                        </a>
                        </li>
                        <li class="borderThinDottedBottom"><a href="http://www.mandela.ac.za/Utility-menu/Media-centre/Happening@@Mandela"><p class="bodyMenuStyling">
                Happening@@Mandela</p>
                        </a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://www.mandela.ac.za/Utility-menu/Alumni">
                Alumni</a>
                </li> </ul>

        </div>
    </div>

</div>