@import views.html.Templates.Masterpage
@import models.UserSystem.Application
@import java.util.List
@import models.ApplicationSystem.ApplicationStatus

@(applications: List[Application])

@status_icons(status: ApplicationStatus) = @{
    status match {
        case ApplicationStatus.DRAFT => ""
        case _ => ""
    }
}

@Masterpage.apply(" :: Overview"){
    <br/>
    <h2>Overview</h2>
    <br/>
    <div class="container">
        <br>
        <h2>Applications</h2>
        <br>
        @if(applications.size() > 0) {
            <div class="row">
                <table class="table">
                    <thead>
                        <th>Application Title</th>
                        <th>Notifications</th>
                        <th>Status</th>
                        <th>Date Submitted</th>
                        <th>Date Approved</th>
                    </thead>
                    <tbody>
                    @for(application <- applications) {
                        <tr>
                            <td>@application.title</td>
                            <td>N/A</td>
                            <td>@application.status.name()</td>
                            <td>@application.date_approved</td>
                            <td>@application.date_submitted</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        } else {
            <p>No applications associated with account</p>
        }
    </div>
}