@import views.html.Templates.Masterpage
@import models.UserSystem.Application
@import java.util.List
@import models.ApplicationSystem.ApplicationStatus

@import helpers.CookieTags
@import models.UserSystem.UserType
@import views.html.UserSystem.fragmentOverviewPI
@import views.html.UserSystem.fragmentOverviewPRP
@import views.html.UserSystem.fragmentOverviewReviewers
@import views.html.UserSystem.fragmentOverviewLiaison
@import views.html.UserSystem.fragmentRCDOverview

@(newApps: List[Application], ownApplications: List[Application], approveApps: List[Application], reviewApps: List[Application], liaiseApps: List[Application], facultyApps: List[Application])

@status_icons(status: ApplicationStatus) = @{
    status match {
        case ApplicationStatus.DRAFT => ""
        case _ => ""
    }
}

@getDashboard() = @{
    UserType.parse(session().get(CookieTags.user_type)) match {
        case UserType.PrimaryResponsiblePerson => fragmentOverviewPRP.apply(ownApplications, approveApps)
        case UserType.Reviewer => fragmentOverviewReviewers.apply(ownApplications, approveApps, reviewApps)
        case UserType.Liaison => fragmentOverviewLiaison.apply(ownApplications, approveApps, reviewApps, liaiseApps)
        case UserType.RCD => fragmentRCDOverview.apply(newApps)
        case UserType.FacultyRTI => fragmentOverviewFacultyRTI.apply(approveApps, facultyApps)
        case UserType.DepartmentHead => fragmentOverviewHoD.apply(ownApplications, approveApps)
        case UserType.PrimaryInvestigator => fragmentOverviewPI.apply(ownApplications)
        case _ => fragmentOverviewPI.apply(ownApplications)
    }
}

@Masterpage.apply(" :: Overview"){
    @getDashboard
}