@*When a person has enrolled into the system (for privilledges), the RCD is notified per message *@
@import views.html.Templates.Masterpage
@import views.html.Components._

@()

@Masterpage.apply(" :: Enrollment"){
    <br/>
    @helper.form( action = controllers.UserSystem.routes.ProfileHandler.doEnrol())
        @helper.CSRF.formField

        @inputDatalist.apply("enrol_type", "Select role:", "", APIController.getEnrolPositions, "", true, false)
        @inputText.apply("enrol_code", "Enrol Code", "", "", true, false);
        <br/>
        <span style="font-style: italic;">Please note: the department / faculty associated with your profile is used when registering for a specific role</span>

        <button type="submit" class="nmu-button action-button" style="width: auto">Enrol</button>
    }
}