@import models.UserSystem.Application

@(applications: List[Application])

<h3>Applications Requiring Liaison Attention</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th>Application Title</th>
                <th>Status</th>
                <th>Date Submitted</th>
                <th>Date Approved</th>
            </thead>
            <tbody>
            @for(application <- applications) {
                <tr>
                    <td>@application.title</td>
                    <td>@application.status.name()</td>
                    <td>@application.date_approved</td>
                    <td>@application.date_submitted</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No new applications</p>
}