@import views.html.UserSystem.fragmentSubmittedApplications
@import views.html.UserSystem.fragmentApproveApplications
@import views.html.UserSystem.fragmentReviewApplications
@import models.UserSystem.Application

@(ownApplications: List[Application], approveApplications: List[Application], reviewApplications: List[Application])

<div class="">
    <br>
        @fragmentSubmittedApplications.apply(ownApplications)
        @fragmentApproveApplications.apply(approveApplications)
        @fragmentReviewApplications.apply(reviewApplications)
</div>
