@import models.UserSystem.UserLoginForm
@import views.html.Templates.Masterpage
@import views.html.helper._
@import play.data.Form

@(loginForm: Form[UserLoginForm])

@Masterpage.apply(" :: Login"){
    <div class="BoxMediumBlue" style="padding: 20px;">
    @form(action = controllers.UserSystem.routes.LoginController.doLogin()) {
        <div class="container-heading">
            <h1>Login</h1>
        </div>
        <div class="nmu-content-background-dark standard-padding-20">
        @CSRF.formField
        @inputText(loginForm("email"), '_label -> "Email", '_class -> "input-text-short")
        @inputPassword(loginForm("password"), '_label -> "Password", '_class -> "input-text-short")
        <input style="cursor: pointer" type="checkbox" name="remember" id="remember" ><label for="remember" style="cursor: pointer"> Remember Me</label>
        <br/>
        <br/>
        <div class="row">
            <button type="submit" class="nmu-button action-button" value="Login" style="background-color: #f9b42a !important;">Login</button>
        </div>
        <br/>
        <a href="@controllers.UserSystem.routes.LoginController.forgotPassword()">I forgot my password?</a>
        </div>
    }
    </div>
}


