@import models.UserSystem.UserLoginForm
@import views.html.Templates.Masterpage
@import views.html.helper._
@import play.data.Form

@(loginForm: Form[UserLoginForm])

@content = {
    <h1>REC Login</h1>
    <div class="nmu-content-background-dark padding-all-30">
    @form(action = controllers.UserSystem.routes.LoginController.doLogin()) {
        @CSRF.formField
        @inputText(loginForm("email"), '_label -> "Email", '_class -> "input-text-short")
        @inputPassword(loginForm("password"), '_label -> "Password", '_class -> "input-text-short")
        <input type="checkbox" name="remember" id="remember" ><label> Remember Me</label>
        <br/>
        <br/>
        <input type="submit" class="nmu-button action-button" value="Login" style="background-color: #f9b42a !important;">
    }
    <br/>
    <a href="@controllers.UserSystem.routes.LoginController.forgotPassword()">I forgot my password?</a>
    </div>
}

@Masterpage.apply(" :: Login")(content)


