@import models.UserSystem.UserLoginForm
@import views.html.Templates.Masterpage
@import views.html.helper._
@import play.data.Form

@(loginForm: Form[UserLoginForm])

@content = {
    <h1>REC Login</h1>
    <div class="container">
    @form(action = controllers.UserSystem.routes.LoginController.doLogin()) {
        @CSRF.formField
        @inputText(loginForm("email"), '_label -> "Email")
        @inputText(loginForm("password"), '_label -> "Password")
        @checkbox(loginForm("remember"), '_label -> "Remember Me")
        <input type="submit" value="Login">
    }
        <br/>
        <a href="@controllers.UserSystem.routes.LoginController.forgotPassword()">Forgot Password ?</a>
    </div>
}

@Masterpage.apply(" :: Login")(content)


