@import views.html.Templates.Masterpage
@import views.html.UserSystem._
@import play.data.Form
@import helper._
@import models.UserSystem.DetailedRegistrationForm
@import dao.NMU.EntityDepartment.DepartmentContainer
@import java.util

@(registrationForm: Form[DetailedRegistrationForm], departmentList: util.List[DepartmentContainer], facultyList: util.List[String])

    @Masterpage.apply(" :: Register") {
    <div class="BoxMediumBlue" style="padding: 20px;">
        <br/>
        <div class="container-heading">
            <h1>Complete your Registration</h1>
        </div>
        <div class="nmu-content-background-dark standard-padding-20">
        @helper.form(action = controllers.UserSystem.routes.RegistrationController.submitRegistration()) {
            @CSRF.formField
            <div class="fragment-container border">
                @registerUserInfo.apply(registrationForm)
                @registerAcademic.apply(registrationForm, departmentList, facultyList)
                <br/>
                <button class="nmu-button action-button">Complete Registration</button>
            </div>
        }
        </div>
    </div>
    }