@import play.data.Form
@import models.UserSystem.DetailedRegistrationForm
@import java.util.List

@import dao.NMU.EntityDepartment.DepartmentContainer

@(loginForm: Form[DetailedRegistrationForm], departmentList: List[DepartmentContainer], facultyList: List[String])

<div class="step">
    <h3>Academic Information</h3>
    @helper.select(loginForm("degreeLevel"), helper.options(Seq("High-School","Diploma","Degree","Honours","Masters","Doctorate")), '_label -> "Highest Earned Degree")
    @helper.select(loginForm("faculty"), helper.options(facultyList), '_label -> "Faculty")
    @helper.select(loginForm("department"), helper.options( departmentList.map(f => f.dept)), '_label -> "Department")
</div>