@import Components._
@import play.data.Form
@import models.UserSystem.UserRegistrationForm

@(loginForm: Form[UserRegistrationForm])


<div class="step">
    @helper.select(loginForm("title"), Seq(("mr", "Mr"), ("mrs" ,"Mrs"), ("ms" ,"Ms"), ("dr" ,"Dr"), ("prof" ,"Prof")))
    @helper.inputText(loginForm("firstname"))
    @helper.inputText(loginForm("lastname"))
    @helper.inputRadioGroup(loginForm("gender"), Seq(("male", "Male"), ("female", "Female")))
    @helper.inputText(loginForm("mobile"))
</div>
