@import Components._
@import play.data.Form
@import models.UserSystem.BasicRegistrationForm

@(loginForm: Form[BasicRegistrationForm])

<div class="step">
    <h3>Create Account</h3>
    @helper.inputText(loginForm("email"), '_label -> "Email", '_class -> "input-text-short")
    @helper.inputPassword(loginForm("password"), '_label -> "Password", '_class -> "input-text-short")
    @helper.inputPassword(loginForm("confirm_password"), '_label -> "Confirm Password", '_class -> "input-text-short")
</div>

