@import Components._
@import play.data.Form
@import models.UserSystem.UserRegistrationForm

@(loginForm: Form[UserRegistrationForm])


<div class="step">
    @helper.select(loginForm("title"), Seq(("mr", "Mr"), ("mrs" ,"Mrs"), ("ms" ,"Ms"), ("dr" ,"Dr"), ("prof" ,"Prof")), '_label -> "Title")
    @helper.inputText(loginForm("firstname"), '_label -> "Firstname")
    @helper.inputText(loginForm("lastname"), '_label -> "Lastname")
    @helper.inputRadioGroup(loginForm("gender"), Seq(("male", "Male"), ("female", "Female")), '_label -> "Gender")
    @helper.inputText(loginForm("mobile"), '_label -> "Mobile Number (+27)")
</div>
