@import views.html.Templates.Masterpage
@import dao.UserSystem.EntityPerson
@import views.html.Components.inputDropdown
@import views.html.Components.inputDatalist
@import views.html.Components.inputText
@import views.html.Components.inputPassword
@import views.html.Components.TabContent
@import views.html.Components.TabHeading
@import views.html.Components.TabList
@import models.UserSystem.UserType

@import java.util
@import java.util.Arrays
@(entityPerson: EntityPerson)
    @Masterpage.apply(" :: Settings") {
        <div class="BoxMediumBlue" style="padding: 20px;">
            @helper.CSRF.formField
            <div class="container-heading">
                <h1>Profile Settings</h1>
            </div>
            <br/>

            <div class="row">
                @TabList.apply("tablist_settings")(false){
                    @if(entityPerson.userType() != UserType.RCD) {
                        @TabHeading.apply("Basic Information")("tabheading_basic_info")(false)
                    }
                    @TabHeading.apply("Change Password")("tabheading_password")(true)
                    @if(entityPerson.userType() != UserType.PrimaryInvestigator &&
                            entityPerson.userType() != UserType.RCD) {
                        @TabHeading.apply("Academic Information")("tabheading_academic_info")(false)
                    }
                    @if(entityPerson.userType() != UserType.RCD) {
                        @TabHeading.apply("Enrol")("tabheading_enrol")(false)
                    }
                }{
                    @if(entityPerson.userType() != UserType.RCD) {
                        @TabContent.apply("Personal Information")("tabheading_basic_info")(false){
                            @inputDropdown.apply("title", "Title", entityPerson.getUserTitle, APIController.getTitles, "Your preferred title", true, false, false, null: util.List[String])
                            @inputText.apply("firstname", "First name", entityPerson.getUserFirstname, "Your firstname", true, false, false, null: util.List[String])
                            @inputText.apply("lastname", "Last name", entityPerson.getUserLastname, "Your lastname", true, false, false, null: util.List[String])
                            @inputText.apply("mobile", "Your mobile number", entityPerson.getContactNumberMobile, "Your mobile number", true, false, false, null: util.List[String])
                            <br/>
                            <h3 style="padding: 20px;">Academic Information</h3>
                            @inputDatalist.apply("degree", "Current Degree", entityPerson.getCurrentDegreeLevel, APIController.getDegreeLevels, "Your current degree", true, false, false, null: util.List[String])
                            @inputDatalist.apply("faculty", "Faculty", entityPerson.getFacultyName, APIController.getDataDirect("faculties"), "Your current faculty", true, false, false, null: util.List[String])
                            @inputDatalist.apply("department", "Department", entityPerson.getDepartmentName, APIController.getDataDirect("departments"), "Your current department", true, false, false, null: util.List[String])
                            <br/>
                            <div class="row" style="padding: 20px;">
                                <div class="col-sm-3">
                                    <a class="button-link" href="@controllers.UserSystem.routes.ProfileHandler.overview()">
                                        <button class="nmu-button action-button action-alternative" type="button" id="btnHome">
                                            Cancel</button></a>
                                </div>
                                <div class="col-sm-3">
                                    <button class="nmu-button action-button" type="button" id="btnUpdateBasic" style="float: right;
                                        margin-right: 20px">
                                        Update</button>
                                </div>
                            </div>
                        }
                    }
                    @TabContent.apply("Change Password")("tabheading_password")(true){
                        @inputPassword.apply("old_password", "Old password", "", "Your current password", true, false)
                        <br/>
                        <br/>
                        @inputPassword.apply("new_password", "New password", "", "Your new password", true, false)
                        @inputPassword.apply("confirm_password", "Confirm password", "", "Confirm your new password", true, false)
                        <br/>
                        <div class="row" style="padding: 20px;">
                            <div class="col-sm-3">
                                <a href="@controllers.UserSystem.routes.ProfileHandler.overview()">
                                    <button class="nmu-button action-button action-alternative" type="button" id="btnHome">
                                        Cancel</button></a>
                            </div>
                            <div class="col-sm-3">
                                <button class="nmu-button action-button" type="button" id="btnChangePassword" style="float: right;
                                    margin-right: 20px">
                                    Change Password</button>
                            </div>
                        </div>
                    }
                    @if(entityPerson.userType() != UserType.PrimaryInvestigator &&
                            entityPerson.userType() != UserType.RCD) {
                        @TabContent.apply("Academic Information")("tabheading_academic_info")(false){
                            @inputText.apply("telephone", "Office Telephone Number", entityPerson.getContactOfficeTelephone, "Your office telephone number", true, false, false, null: util.List[String])
                            @inputDatalist.apply("campus", "Campus", entityPerson.getOfficeCampus, APIController.getAllCampus, "", true, false, false, null: util.List[String])
                            @inputText.apply("address", "Office Address", entityPerson.getContactOfficeTelephone, "Your office location", true, false, false, null: util.List[String])
                            <br/>
                            <div class="row" style="padding: 20px;">
                                <div class="col-sm-3">
                                    <a class="button-link" href="@controllers.UserSystem.routes.ProfileHandler.overview()">
                                        <button class="nmu-button action-button action-alternative" type="button" id="btnHome">
                                            Cancel</button></a>
                                </div>
                                <div class="col-sm-3">
                                    <button class="nmu-button action-button" type="button" id="btnUpdateAcademic" style="float: right;
                                        margin-right: 20px">
                                        Update</button>
                                </div>
                            </div>
                        }
                    }
                    @if(entityPerson.userType() != UserType.RCD) {
                        @TabContent.apply("Enrol")("tabheading_enrol")(false){
                            @inputDatalist.apply("enrol_type", "Select position", "", APIController.getEnrolPositions, "The position to enrol for:", true, false, false, null: util.List[String])
                            @inputText.apply("enrol_code", "Enrolment code", "", "The enrolment code provided to you", true, false, false, null: util.List[String])
                            <br/>
                            <button class="nmu-button action-button" type="button" id="btnEnrol">Enrol Now</button>
                        }
                    }
                }
            </div>
        </div>
    }