@import models.UserSystem.Application
@import dao.UserSystem.EntityPerson
@import views.html.Templates.Masterpage

@(application: Application)

@Masterpage.apply(":: Assign Reviewers"){
    @helper.form(action = controllers.ReviewSystem.routes.ReviewHandler.doAssignReviewers()){
        @helper.CSRF.formField
        <input type="hidden" id="application_id" value="@application.getApplicationID().shortName()">
        <h2>Assign Reviewers to Application</h2>
        <br>
        <div class="application-details">

            @*TODO Add view application button here*@
            <h2 style="margin: 0 auto;">Application Details</h2>
            <br>
            <div class="row">
                <div class="col-sm-4"><b>Application Title:</b></div>
                <div class="col-sm-7">@application.getTitle</div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4"><b>Type</b></div>
                <div class="col-sm-7">@application.getApplicationID.getApplicationType</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><b>Faculty</b></div>
                <div class="col-sm-7">@application.getApplicationID.getFacultyName</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><b>Department</b></div>
                <div class="col-sm-7">@application.getApplicationID.getDepartmentName</div>
            </div>
            <br>
            <h2>Assign Reviewers</h2>
            <br/>

            <table id="table_reviewers">
                <thead>
                    <tr>
                        <th class="col-sm-1">#</th>
                        <th class="col-sm-4">Email</th>
                        <th class="col-sm-3">Reviewer</th>
                        <th class="col-sm-3">Department (Faculty)</th>
                        <th class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button class="nmu-button action-button" id="btnAddReviewer" type="button">Add Reviewer</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <input hidden="hidden" name="application_id" id="application_id" value="@application.getApplicationID.shortName()">
        <div class="col-sm-6">
            <a href="@controllers.UserSystem.routes.ProfileHandler.overview()">
                <button type="button" class="nmu-button" style="min-width: 30%; width: auto; float: left">Cancel</button>
            </a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="nmu-button" style="min-width: 30%; width: auto; float: right">Assign Reviewers</button>
        </div>
    }
}
