@import models.UserSystem.Application
@import dao.UserSystem.EntityPerson
@import views.html.Templates.Masterpage

@(application: Application)(reviewers: List[EntityPerson])

@selectReviewerBox(i: Int) = @{
        val start = "<select id=\"reviewer" + i + "\" name=\"reviewer" + i + "\">"
        val end = "</select>"
        var content = ""
        for(person: EntityPerson <- reviewers) {
            content += "<option id=\"" + person.getUserEmail + "\" name=\"" + person.getUserEmail + "\">" + person.getUserTitle + " " + person.getUserFirstname + " " + person.getUserLastname + " [" + person.getUserEmail + "]"+ "</option>"
        }
        Html(start + content + end)
}

@Masterpage.apply(":: Assign Reviewers"){
    @helper.form(action = controllers.ReviewSystem.routes.ReviewHandler.doAssignReviewers()){
        @helper.CSRF.formField
        <h2>Assign Reviewers to Application</h2>
        <br>
        <div class="application-details">
            <h2 style="margin: 0 auto;">Application Details</h2>
            <br>
            <div class="row">
                <div class="col-sm-4"><b>Application Title:</b></div>
                <div class="col-sm-8">@application.title</div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4"><b>Type</b></div>
                <div class="col-sm-8">@application.applicationID.getApplicationType</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><b>Faculty</b></div>
                <div class="col-sm-8">@application.applicationID.getFacultyName</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><b>Department</b></div>
                <div class="col-sm-8">@application.applicationID.getDepartmentName</div>
            </div>
            <br>
            <h2>Assign Reviewers</h2>
            <br/>
            <div class="row reviewer" id="reviewer1" style="display: none">
                <div class="col-sm-4"><b>Reviewer 1:</b></div>
                <div class="col-sm-8">@selectReviewerBox(1)</div>
                <div class="col-sm-1"><button class="fa fa-trash" id="del_reviewe1" type="button"></button></div>
            </div>
            <div class="row reviewer" id="reviewer2" style="display: none">
                <div class="col-sm-4"><b>Reviewer 2:</b></div>
                <div class="col-sm-8">@selectReviewerBox(2)</div>
                <div class="col-sm-1"><button class="fa fa-trash" id="del_reviewer2" type="button"></button></div>
            </div>
            <div class="row reviewer" id="reviewer3" style="display: none">
                <div class="col-sm-4"><b>Reviewer 3:</b></div>
                <div class="col-sm-8">@selectReviewerBox(3)</div>
                <div class="col-sm-1"><button class="fa fa-trash" type="button" id="del_reviewer3"></button></div>
            </div>
            <div class="row reviewer" id="reviewer4" style="display: none">
                <div class="col-sm-4"><b>Reviewer 4:</b></div>
                <div class="col-sm-7">@selectReviewerBox(4)</div>
                <div class="col-sm-1"><button class="fa fa-trash" id="del_reviewer4" type="button"></button></div>
            </div>
            <button class="nmu-button button-small" style="width: auto" id="btnAddReviewer" type="button">Add Reviewer</button>
        </div>
        <input hidden="hidden" name="application_id" id="application_id" value="@application.applicationID.shortName()">
        <div class="col-sm-6">
            <a href="@controllers.UserSystem.routes.ProfileHandler.overview()">
                <button type="button" class="nmu-button" style="min-width: 30%; width: auto; float: left">Cancel</button>
            </a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="nmu-button" style="min-width: 30%; width: auto; float: right">Save</button>
        </div>
    }
}
