@import models.UserSystem.Application
@import engine.Permission

@(applications: List[Application])

<div class="">
    <h3 class="overview overview-title"><i class="fa fa-angle-right"></i> Applications Requiring Liaison Attention</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th class="col-sm-3">Application Title</th>
                <th>Notifications</th>
                <th>Status</th>
                <th>Date Submitted</th>
                <th>Date Approved</th>
                <th class="col-sm-2"></th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {
                <tr>
                    <td style="text-decoration: underline;">@application.getTitle</td>
                    <td></td>
                    <td>@application.getStatus.description()</td>
                    <td>@application.getSubmittedDateSafe</td>
                    <td>@application.getApprovedDateSafe</td>
                    <td>
                    @if(application.getPermission == Permission.NONE) {
                        <a style="float: right;" href="" cursor="not-allowed"><button class="nmu-button table-button">Not authorized</button></a>
                    } else {
                        @if(application.getPermission == Permission.VIEW) {
                            <a style="float: right;" href="@controllers.ApplicationSystem.routes.ApplicationHandler.reviewApplication(application.getApplicationID.shortName())">
                                <button class="nmu-button table-button">View</button>
                            </a>
                        } else {
                            <a style="float: right;" href="@controllers.ReviewSystem.routes.ReviewHandler.viewApprove(application.getApplicationID.shortName())">
                                <button class="nmu-button table-button">Review Application</button>
                            </a>
                        }
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No applications requiring approval</p>
}
</div>
<br/>