@import models.UserSystem.Application
@import engine.Permission
@import java.util

@(applications: util.List[Application])

<h3 class="overview overview-title"><i class="fa fa-angle-right"></i> My Applications</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table table-overview">
            <thead>
                <th class="col-sm-4">Application Title</th>
                <th class="col-sm-3">#</th>
                <th class="col-sm-2">Status</th>
                <th class="col-sm-3"></th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {

                <tr class="nmu-button overview-td">
                    <td style="font-style: italic;">@application.getTitle</td>
                    <td style="font-style: italic;">@application.getApplicationID.shortName</td>
                    <td>@application.getStatus.description</td>
                    <td>@if(application.getPermission == Permission.NONE) {
                        <a style="float: right;" href="" cursor="not-allowed"><button class="nmu-button table-button">
                            Not authorized</button></a>
                    } else {
                        @if(application.getPermission == Permission.VIEW) {
                            <a style="float: right;" href="@controllers.ApplicationSystem.routes.ApplicationHandler.reviewApplication(application.getApplicationID.shortName())">
                                <button class="nmu-button table-button">View Application</button>
                            </a>
                        } else {
                            <a style="float: right;" href="@controllers.ApplicationSystem.routes.ApplicationHandler.reviewApplication(application.getApplicationID.shortName())">
                                <button class="nmu-button table-button">Modify Application</button>
                            </a>
                        }
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <div class="row">
        <p>No applications associated with this account</p>
    </div>
}

<br/>