@import models.UserSystem.Application

@(applications: List[Application])

<h3>Applications Requiring Reviewers</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th>Application Title</th>
                <th>Status</th>
                <th>Date Submitted</th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {
                <tr>
                    <td>@application.title</td>
                    <td>@application.status.name()</td>
                    <td>@application.date_submitted</td>
                    <td><a href="@controllers.ReviewSystem.routes.ReviewHandler.assignReviewer(application.applicationID.shortName())">
                        <button class="nmu-button table-button">Assign Reviewers</button>
                    </a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No new applications requiring reviewer allocation</p>
}