@import models.UserSystem.Application

@(applications: List[Application])

<h3>Assigned Applications</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th>Application Title</th>
                <th>Status</th>
                <th>Date Assigned</th>
                <th>Due Date</th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {
                <tr class="nmu-button">
                    <tr class="nmu-button">
                        <td>@application.title</td>
                        <td></td>
                        <td>@application.date_approved</td>
                        <td>@application.date_submitted</td>
                        <td><a href="@controllers.ReviewSystem.routes.ReviewHandler.reviewApplication(application.applicationID.shortName())">
                            <button class="nmu-button table-button">Review Application</button>
                        </a></td>
                    </tr>
                </a>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No applications to review</p>
}