@import models.UserSystem.Application

@(applications: List[Application])

<div class="">
    <h3 class="overview overview-title"><i class="fa fa-angle-right"></i> Applications Requiring Reviewers</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th class="col-sm-3">Application Title</th>
                <th>Status</th>
                <th>Date Submitted</th>
                <th class="col-sm-2"></th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {
                <tr>
                    <td style="text-decoration: underline;">@application.getTitle</td>
                    <td>@application.getStatus.description()</td>
                    <td>@application.getSubmittedDateSafe</td>
                    <td><a style="float: right;" href="@controllers.ReviewSystem.routes.ReviewHandler.assignReviewer(application.getApplicationID.shortName())">
                        <button class="nmu-button table-button">Assign Reviewers</button>
                    </a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No new applications requiring reviewer allocation</p>
}
</div>
<br/>