@import models.UserSystem.Application
@import engine.Permission

@import controllers.UserSystem.UserInfo
@(applications: List[Application])

<div class="">
    <h3 class="overview overview-title"><i class="fa fa-angle-right"></i> Applications Requiring Approval</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th class="col-sm-5">Application Title</th>
                <th class="col-sm-3">Approval Due Date</th>
                <th class="col-sm-2"></th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {
                <tr class="nmu-button" data-url=")">
                    <td style="text-decoration: underline;">@application.getTitle</td>
                    <td></td>
                    <td>@application.getDueDateSafe</td>
                    <td>
                        @if(application.getPermission == Permission.NONE) {
                            <a style="float: right;" href="" cursor="not-allowed"><button class="nmu-button table-button">Not authorized</button></a>
                        } else {
                            @if(application.getPermission == Permission.VIEW) {
                                <a style="float: right;" href="@controllers.ApplicationSystem.routes.ApplicationHandler.reviewApplication(application.getApplicationID.shortName())">
                                    <button class="nmu-button table-button">View and Approve</button>
                                </a>
                            } else {
                                <a style="float: right;" href="@controllers.ReviewSystem.routes.ReviewHandler.viewApprove(application.getApplicationID.shortName())">
                                    <button class="nmu-button table-button">View and Approve</button>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No applications requiring approval</p>
}
</div>
    <br/>