@import models.UserSystem.Application
@(applications: List[Application])

<div>
    <h3 class="overview overview-title"><i class="fa fa-angle-right"></i> My Applications</h3>
@if(applications.size() > 0) {
    <div class="row">
        <table class="table">
            <thead>
                <th class="col-sm-3">Application Title</th>
                <th class="col-sm-1"></th>
                <th class="col-sm-2">Status</th>
                <th class="col-sm-2">Date Submitted</th>
                <th class="col-sm-2">Date Approved</th>
                <th class="col-sm-2"></th>
            </thead>
            <tbody>
            @for(application: Application <- applications) {

                    <tr class="nmu-button">
                        <td style="text-decoration: underline;">@application.getTitle</td>
                        <td></td>
                        <td>@application.getStatus.name()</td>
                        <td>@application.getDate_submitted.toString.split(" ")[0]</td>
                        <td>@application.getDate_approved.toString.split(" ")[0]</td>
                        <td><a style="float: right;" href="@controllers.ApplicationSystem.routes.ApplicationHandler.reviewApplication(application.getApplicationID.shortName())">
                            <button class="nmu-button table-button">View Application</button>
                        </a></td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
} else {
    <p>No applications associated with this account</p>
}

<br/>
</div>